<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img">
    <h2 class="col-md-6">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do e Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do e
    </h2>
  </section>
  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">Our Story</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </article>
    <aside class="col-xs-12 col-md-6 img-container">
      <img src="http://fillmurray.com/600/300" alt="" />
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci</h3>
    </aside>
  </section>
  <!-- TEAM SECTION -->
  <section class="row bg-blue">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <header class="row">
          <div class="col-xs-12 text-center">
            <h3 class="text-uppercase text-success">The Nautilus Team</h3>
          </div>
        </header>
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 team-member">
            <div class="row">
              <div class="col-xs-12 img-container">
                <img src="http://fillmurray.com/250/150" alt="" />
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-12">
                <h4>Bill Pazant, President</h4>
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-9">
                <h5>bill@nautilusco.com</h5>
                <h5>843.823.9883</h5>
              </div>
              <div class="col-xs-3 img-container">
                <img src="http://fillmurray.com/50/50" alt="" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 team-member">
            <div class="row">
              <div class="col-xs-12 img-container">
                <img src="http://fillmurray.com/250/150" alt="" />
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-12">
                <h4>Bill Pazant, President</h4>
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-9">
                <h5>bill@nautilusco.com</h5>
                <h5>843.823.9883</h5>
              </div>
              <div class="col-xs-3 img-container">
                <img src="http://fillmurray.com/50/50" alt="" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 team-member">
            <div class="row">
              <div class="col-xs-12 img-container">
                <img src="http://fillmurray.com/250/150" alt="" />
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-12">
                <h4>Bill Pazant, President</h4>
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-9">
                <h5>bill@nautilusco.com</h5>
                <h5>843.823.9883</h5>
              </div>
              <div class="col-xs-3 img-container">
                <img src="http://fillmurray.com/50/50" alt="" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 team-member">
            <div class="row">
              <div class="col-xs-12 img-container">
                <img src="http://fillmurray.com/250/150" alt="" />
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-12">
                <h4>Bill Pazant, President</h4>
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-9">
                <h5>bill@nautilusco.com</h5>
                <h5>843.823.9883</h5>
              </div>
              <div class="col-xs-3 img-container">
                <img src="http://fillmurray.com/50/50" alt="" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 team-member">
            <div class="row">
              <div class="col-xs-12 img-container">
                <img src="http://fillmurray.com/250/150" alt="" />
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-12">
                <h4>Bill Pazant, President</h4>
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-9">
                <h5>bill@nautilusco.com</h5>
                <h5>843.823.9883</h5>
              </div>
              <div class="col-xs-3 img-container">
                <img src="http://fillmurray.com/50/50" alt="" />
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 team-member">
            <div class="row">
              <div class="col-xs-12 img-container">
                <img src="http://fillmurray.com/250/150" alt="" />
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-12">
                <h4>Bill Pazant, President</h4>
              </div>
            </div>
            <div class="row text-left">
              <div class="col-xs-9">
                <h5>bill@nautilusco.com</h5>
                <h5>843.823.9883</h5>
              </div>
              <div class="col-xs-3 img-container">
                <img src="http://fillmurray.com/50/50" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- CORE VALUES -->
  <section class="row margin-lg">
    <header class="row">
      <div class="col-xs-12 text-center">
        <h3 class="text-uppercase text-success">Core Values</h3>
      </div>
    </header>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-sm-3">
      <h4 class="text-uppercase">Do the right thing</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>
</div>
