<div contentful-entries="'content_type=careersPage'" class="container-fluid">
  <div ng-repeat="page in $contentfulEntries.items | limitTo:1">

  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background-image' : 'url({{ page.fields.bannerImage.fields.file.url }}), url(../../../assets/img/bg-pattern-light.jpg)'}">
    <h1 class="col-md-5 hero-font">
      {{ page.fields.bannerImageDescription }}
    </h1>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">Careers</h2>
      <p>
        {{ page.fields.careersDescription }}
      </p>
    </article>
    <figure class="main-photo col-xs-12 col-md-6">
      <div class="full-width" ng-style="{'background-image' : 'url({{page.fields.careersImage.fields.file.url }}), url(../../../assets/img/bg-pattern-light.jpg)'}" alt="Nautilus Team Photo" />
    </div>
      <figcaption marked="page.fields.careersQuote">
        <!-- CONVERTED CAREERS QUOTE MARKDOWN -->
      </figcaption>
    </figure>
  </section>
</div>
  <div contentful-entries="'content_type=career'" class="">
    <!-- CAREER LISTING -->
    <section ng-repeat="careerListing in $contentfulEntries.items" class="row margin-lg career-listing bg-blue">
      <div class="col-md-6">
        <header>
          <h3>April 2016</h3>
          <h2 class="text-uppercase">{{ careerListing.fields.careerTitle }}</h2>
        </header>

        <div marked="careerListing.fields.careerDescription">
          <!-- CONVERTED CAREER DESCRIPTION MARKDOWN -->
        </div>

        <h3>Requirements</h3>
        <div marked="careerListing.fields.requirements">
          <!-- CONVERTED REQUIREMENTS MARKDOWN -->
        </div>

        <div class="apply-box text-center">
          <h3 class="text-success">Are you our next team member?</h3>
          <a ng-href="{{ careerListing.fields.careerLinkUrl }}">
            <div class="circle-button-60">
              Apply<br>here
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 v-margin-20">
        <h3>Responsibilities</h3>
        <div marked="careerListing.fields.responsibilities">
          <!-- CONVERTED RESPONSIBILITIES MARKDOWN -->
        </div>

        <h3>Preferred Skills</h3>
        <div marked="careerListing.fields.preferredSkills">
          <!-- CONVERTED PREFERRED SKILLS MARKDOWN -->
        </div>
      </div>
    </section>
  </div>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
  <section class="buffer"></section>
</div>
