<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img">
    <h1 class="col-md-6">
      We seek out only the best team players and understand that together we accomplish great things.
    </h1>
  </section>
  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">Careers</h2>
      <p>
        Nautilus Company is passionate team of industry experts who strive to consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      </p>
    </article>
    <aside class="col-xs-12 col-md-6">
      <img class="full-width" src="http://placehold.it/600x350" alt="" />
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci</h3>
    </aside>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
