<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img">
    <h1 class="col-md-6">
      We seek out only the best team players and understand that together we accomplish great things.
    </h1>
  </section>
  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">Careers</h2>
      <p>
        Nautilus Company is passionate team of industry experts who strive to consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      </p>
    </article>
    <aside class="col-xs-12 col-md-6">
      <img class="full-width" src="http://placehold.it/600x350" alt="" />
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci</h3>
    </aside>
  </section>

  <!-- CAREER LISTING -->
  <section class="row margin-lg career-listing bg-blue">
    <div class="col-md-6">
      <header>
        <h3>April 2016</h3>
        <h2 class="text-uppercase">Warranty / Punch Position Available</h2>
      </header>
      <p>
        Nautilus is looking for a bright, driven, organized individual seeking a long-term orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s passionate team of industry experts who strive to consectetur adipisicing passionate team of industry experts who strive to consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  consectetur adipisicing elit, sed do eiusmod tempor incididunt.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod sed do eiusmod tempor incididunt.
      </p>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s passionate team of industry experts who strive to consectetur adipisicing passionate team of industry experts.
      </p>
      <h3>Requirements</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
      </ul>
      <div class="apply-box text-center">
        <h3 class="text-success">Are you our next team member?</h3>
        <a href="#">
          <div class="circle-full text-uppercase">
            Apply<br>here
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 v-margin-20">
      <h3>Responsibilities</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur t, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </li>
        <li>Lorem ipsum dolor sit amet, coing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei dolor psum dolor sit amet, consectetur adipisicing sit amet, consectetur adipisicing elit, dolor sit amet, consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet, consectetur elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consecte</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipido ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adip</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, conscing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
      </ul>
      <h3>Preferred Skills</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do Lorem ipsum dolor sit amet, ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</li>
      </ul>
    </div>
  </section>
  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
  <section class="buffer"></section>
</div>
