.team-member {
  padding: 0 47px;
  margin-bottom: 20px;
}
.team-member .xs {
  font-size: 7px;
}
.contact {
  float: left;
  padding-left: 15px;
}
.team-member .circle-button-40 {
  float: right;
  margin-right: 11px;
  margin-top: 3px;
  font-weight: 700;
  background-color: transparent;
  font-size: 12px;
  padding-left: 0px;
  padding-top: 4px;
}
.team-member button:hover {
  opacity: .6;
}
.team-member .arrow-right::after {
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent $lt-blue;
  bottom: 14px;
  right: 4px;
}
.core-values {
  padding: 0 80px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .team-member {
    padding-left: 0;
    padding-right: 0;
  }
}
