.team-member {
  padding: 0 47px;
  margin-bottom: 20px;
}

.hover-mute:hover {
  opacity: .6;
  cursor: pointer;
}

.white-box {
  position: relative;
}
.white-box::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 25px;
  left: 25px;
  border: 2px solid white;
}

.team-member .xs {
  font-size: 7px;
}

.contact {
  width: 80%;
  padding-right: 0;
}

.team-member .circle-button-40 {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
  font-weight: 700;
  background-color: transparent;
  font-size: 12px;
  padding-left: 0px;
  padding-top: 4px;
}

.team-member button:hover {
  opacity: .6;
}

.team-member .arrow-right::after {
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent $lt-blue;
  bottom: 14px;
  right: 4px;
}

.core-values {
  padding: 0 80px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .team-member {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
