.gallery-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 32px;
}
.gallery-list li {
  height: 0;
  width: 44%;
  padding-bottom: 44%;
  margin: 0 auto 30px;
  background-size: cover;
  background-position: center;
}
.gallery-list li::after {
  right: 10px;
  left: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .gallery-list {
    margin: 0 32px;
  }
  .gallery-list li {
    width: 28.7%;
    padding-bottom: 28.7%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .gallery-list li {
    width: 28.9%;
    padding-bottom: 28.9%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .gallery-list li {
    width: 29%;
    padding-bottom: 29%;
  }
}
