.gallery-list {
  list-style: none;
  @include flexbox();
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 32px;
}
.gallery-list li {
  height: 100%;
  width: 44%;
  padding-bottom: 44%;
  margin: 0 auto 30px;
  background-size: cover;
  background-position: center;
}
.gallery-list li::after {
  right: 10px;
  left: 10px;
}

// Credit and many thanks to
// web-tiki for the following
// Firefox-proof layout solution
// http://stackoverflow.com/questions/20456694/grid-of-responsive-squares
.gallery-photo {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.gallery-photo::after {
  right: 10px;
  left: 10px;
}
.gallery-photo-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10%;
}
.table{
    display: table;
    height: 100%;
    width: 100%;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .gallery-list {
    margin: 0 32px;
  }
  .gallery-list li {
    width: 28.7%;
    padding-bottom: 28.7%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .gallery-list li {
    width: 28.9%;
    padding-bottom: 28.9%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .gallery-list li {
    width: 29%;
    padding-bottom: 29%;
  }
}
