.home-mgmt-project h1 {
  transition: all 0.5s ease;
  opacity: 0;
  font-family: $serif;
  font-size: 24px;
  width: 80%;
  margin: 41% auto;
  color: $dk-blue;
}
.home-mgmt-project:hover {
  h1 {
    opacity: 1;
  }
}
#home-mgmt-modal .social {
  float: right;
  width: 33%;
  text-align: right;
}
#home-mgmt-modal h3 {
  color: white;
}
#home-mgmt-modal .social li {
  margin-left: 4%;
  vertical-align: middle;
}
#home-mgmt-modal .social li:first-child {
  vertical-align: baseline;;
}
