.carousel-indicators {
  left: 50%;
}

.home-slider-img{
  height:425px;
  width:100%;
  overflow: hidden;
}

.carousel-indicators li, .carousel-indicators .active {
  margin: 0 3px;
}

.carousel-caption-box {
  position: absolute;
  height:100%;
  left: 87px;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding-left:20px;
  padding-right:78px;
  color: #fff;
  font-family: $serif;
  line-height: 42px;
  background-image: url("../../assets/img/home-slider-cta.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.carousel-caption-box:hover{
  color: #fff !important;
}

.carousel-caption-box h1 {
  font-size: 24px;
  font-weight: 300;
}

.carousel-caption-box p {
  font-size: 18px;
  font-weight: 300;
  padding-right:50px;
}

#slider-cap {
  background-color: rbga(0,0,255, .22);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hover {
  display: none;
}

.pre-footer:hover {
  .main {
    display: none;
  }
  .hover {
    display: block;
  }
}

.pre-footer h1 {
  font-size: 24px;
  font-family: museo-slab;
  font-weight: 300;
  color: white;
  position: absolute;
  width: 56%;
  top: 2%;
}

#pre-footer-left h1 {
  right: 8%;
}

#pre-footer-right h1 {
  left: 8%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-slider-img{
    height:200px;
    width:100%;
    overflow: hidden;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel-indicators {
    left: 18.5%;
  }

}
