.carousel-indicators {
  left: 50%;
  bottom: 1%;
}
.home-slider-img{
  height: 0;
  padding: 30%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: repeat,no-repeat;
  background-size: 100px 100px, cover;
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: top;
}
.carousel-indicators li,
.carousel-indicators .active {
  margin: 0 3px;
  height: 6px;
  width: 6px;
}
.carousel-caption-box {
  position: absolute;
  height:100%;
  left: 73px;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding-left:20px;
  padding-right:78px;
  color: #fff;
  font-family: $serif;
  line-height: 42px;
  background-image: url("../../assets/img/Nautilus-banner-overlay_2x.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.carousel-caption-box:hover{
  color: #fff !important;
}
.carousel-caption-box a {
  position: absolute;
  right: 15%;
  bottom: 42.5%;

  height: 15%;
  width: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  border-radius: 100%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;

  text-transform: uppercase;
  font-family: $sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
}
.carousel-caption-box a:hover {
  background: #fff;
  color: $dk-blue;
}
.carousel-caption-box h1 {
  font-size: 24px;
  font-weight: 300;
}
.carousel-caption-box p {
  font-size: 18px;
  font-weight: 300;
  padding-right: 50px;
}
.carousel-caption-box-mobile {
  height: 0;
  width: 100%;
  padding-bottom: 27%;
  top: 0;
  background-size: cover;
  bottom: -100%;
  z-index: 1;
  color: #fff;
  font-family: "museo-slab", Times, serif;
  background-image: url("../../assets/img/Nautilus-banner-overlay_MOBILE_2x.png");
  background-repeat: no-repeat;
}
.carousel-caption-text {
  padding-left: 6%;
  padding-right: 6%;
  z-index: 10;
  padding-top: 12%;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}
.carousel-caption-text h1 {
  font-size: 16px;
}
.carousel-caption-text p {
  font-size: 14px;
  padding-right: 7%;
}
.carousel-caption-box-mobile a {
  position: absolute;
  right: 1.5%;
  bottom: 31.5%;
  height: 38%;
  width: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.5;
}
#slider-cap {
  background-color: rbga(0, 0, 255, .22);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.active {
  display: none;
}
.pre-footer:hover {
  opacity: .8;
  .inactive {
    display: none;
  }
  .active {
    display: block;
  }
}
.pre-footer h1 {
  font-size: 24px;
  font-family: museo-slab;
  font-weight: 300;
  color: white;
  position: absolute;
  width: 56%;
  top: 2%;
}
#pre-footer-left h1 {
  right: 8%;
}
#pre-footer-right h1 {
  left: 8%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-slider-img {
    padding: 15.8%;
  }
  .carousel-indicators {
    bottom: 5%;
  }
  .carousel-indicators li,
  .carousel-indicators .active {
    height: 12px;
    width: 12px;
  }
  .carousel-caption-text {
    padding-left: 10%;
    padding-right: 10%;
  }
  .carousel-caption-text h1 {
    font-size: 32px;
  }
  .carousel-caption-text p {
    font-size: 20px;
  }
  .carousel-caption-box-mobile a {
    position: absolute;
    right: 1.5%;
    bottom: 31.5%;
    height: 38%;
    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-family: "museo-sans", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }
  .carousel-caption-box-mobile a:hover {
    background: #fff;
    color: $dk-blue;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel-indicators {
    left: 18.5%;
  }

}
