.gallery-photo h1 {
  @include transition(all 0.5s ease);
  @include opacity(0);
  font-family: $serif;
  font-size: 16px;
  width: 80%;
  margin: auto;
  color: $dk-blue;
}
.gallery-photo:hover {
  h1 {
    @include opacity(1);
  }
}

/* Not tiny iPhones  */
@media (min-width: 400px) {
  .gallery-photo h1 {
    font-size: 24px;
  }
}
