.home-mgmt-project h1 {
  @include transition(all 0.5s ease);
  @include opacity(0);
  font-family: $serif;
  font-size: 24px;
  width: 80%;
  margin: 41% auto;
  color: $dk-blue;
}
.home-mgmt-project:hover {
  h1 {
    @include opacity(1);
  }
}
