.news-header-blue {
  height: 100px;
  background:
    url(../../../assets/img/bg-pattern-light.jpg),
    $dk-blue;
  background-blend-mode: multiply;
}
.news-header .arrow-left {
  padding-left: 25px;
  position: relative;
  display: inline;
}
.news-header .arrow-left::before {
  position: absolute;
  content: '';
  width:0;
  height:0;
  width: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  left: 5px;
  top: 9px;
}
.news-header a {
  color: white;
}
.featured-article {
  margin-bottom: 30px;
}
.featured-article div {
  float: left;
  width: 100%;
  height: 350px;
  display: inline-block;
}
.featured-article div:first-child {
  background-image:
    url('../../../assets/img/bg-pattern-light.jpg'),
    url('../img/team-laura.jpg');
  background-size: 100px 100px, cover;
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply;
  background-position: center;
}
.featured-article div:last-child {
  padding: 0px 26px;
}
.news-article-lead{
  width:auto !important;
  height:100%;
}
.news-article h3 {
  font-weight: 700;
  margin-bottom: 0;
}
.news-article h1 {
  margin-top: 0;
  font-size: 30px;
}
.news-article h4 {
  font-size: 11px;
  margin-top: 14px;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
}
.news-article p {
  font-size: 18px;
  margin-top: 46px;
  line-height: 1.7;
  margin-bottom: 18px;
}
.news-nav-detail {
  margin-top: 30px;
}
.news-nav h3 {
  margin: -3px 0 0;
}
.news-nav img {
  margin-left: -19px;
}
.news-nav ul {
  list-style-type: none;
  margin-top: 11px;
  margin-bottom: 35px;
}
.news-nav li {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 15px;
}
.news-nav a {
  color: $dk-blue;
}
.news-nav li:hover,
.news-nav .selectedTopic {
  font-weight: 700;
}
.search-bar {
  width: 100%;
  border: solid $lt-blue;
  border-width: 2px 0;
  padding: 8px 10px;
}
.search-bar input {
  padding: 8px 10px 2px;
}
.search-bar button {
  padding: 10px 10px 2px;
}
.search-bar input::-webkit-input-placeholder {
  color: $dk-blue;
  font-style: italic;
}
.search-bar .btn {
  color: $dk-blue;
}
.news-nav p {
  font-size: 12px;
  margin-top: 15px;
}
.news-listing {
  margin-bottom: 20px;
}
.news-listing .white-box::after {
  right: 10px;
  left: 10px;
}
.news-listing-thumb {
  height: 300px;
  background-blend-mode: multiply;
  background-size: 100px 100px, cover;
  background-position: center;
}
.article-details {
  text-align: right;
}
.article-details .social {
  margin-top: 30px;
}
.article-details .social li {
  vertical-align: middle;
}
.article-details .social i {
  font-size: 32px;
  margin-left: 10px;
}
.date-icon {
  border: 2px solid $dk-blue;
  border-radius: 100%;
  float: right;
  width: 50px;
  height: 50px;
  font-size: 10px;
  font-weight: 700;
  color: $dk-blue;
  text-transform: uppercase;
  padding-top: 8px;
  text-align: center;
  line-height: 1;
}
.date-icon .day {
  display: block;
  font-size: 22px;
  margin: 0px 0 12px;
}
.article-details h1 {
  font-family: $serif;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 95px;
}
.article-details h4 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.related-media-box {
  padding: 10px;
  text-align: center;
  color: $dk-blue;
  margin-top: 100px;
}
.related-media-box h3 {
  margin: 10px 0;
}
.related-media-box .img-box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: 100px 100px, cover;
  background-blend-mode: multiply;
  background-position: center;
  cursor: pointer;
}
.article-content {
  padding: 0 20px 0;
}
.article-body {
  border-bottom: 2px $dk-blue solid;
  padding-bottom: 15px;
}
.article-body p {
  line-height: 2;
  text-align: justify;
}
.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.7px;
  line-height: 1.3;
  color: $lt-blue;
}
.tag::after {
  content: ', ';
}
.tag:last-child::after {
    content: '';
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .featured-article div {
    width: 50%;
    height: 370px;
  }
  .featured-article div:last-child {
    padding: 16px;
  }
  .article-body p {
    text-align: left;
  }
  .news-nav-detail {
    margin-top: 0;
  }
}
