.testimonial-image-container {
  margin-top: 10px;
  background-repeat: repeat, no-repeat;
  background-size: 100px 100px, cover;
  background-blend-mode: multiply;
  height: 0;
  padding-bottom: 78%;
}
