.testimonial-image-container {
  margin-top: 10px;
  background-repeat: no-repeat, repeat;
  background-size: cover, 100px 100px;
  background-blend-mode: multiply;
  height: 0;
  padding-bottom: 78%;
}
