@charset "UTF-8";
.hidden {
  display: none; }

.thankYouDiv {
  float: left;
  width: 45%;
  margin-top: 10%;
  margin-right: 5%;
  -webkit-transition: opacity 4s ease-in;
  -moz-transition: opacity 4s ease-in;
  -ms-transition: opacity 4s ease-in;
  transition: opacity 4s ease-in; }

.thankYouDiv h1, h5, p, a {
  /*text-align: center;
  color: #253d93;*/
  -webkit-transition: opacity 4s ease-in;
  -moz-transition: opacity 4s ease-in;
  -ms-transition: opacity 4s ease-in;
  transition: opacity 4s ease-in; }

.thankYouDiv a {
  text-decoration: underline; }

.thankYouDiv a:hover {
  color: #6082c1; }

.modal-content {
  border: solid 5px #253d93;
  color: #253d93;
  opacity: .8; }

.modal-title {
  z-index: 2;
  text-align: center;
  border-bottom: none; }

.modal-content p {
  text-align: center; }

.container-fluid {
  padding: 0; }

.text-primary {
  color: #6082c1; }

.text-success {
  color: #253d93;
  margin-bottom: 0;
  text-align: left;
}

.text-info {
  color: #6082c1; }

.bg-info {
  background-color: rgba(96, 130, 193, 0.4); }

.form-group {
  margin-bottom: 20px; }

.form-control {
  color: #000;
  font-size: 12px;
  background-color: transparent;
  border-color: #E0E0E0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none; }

.form-control[readonly] {
  background-color: transparent; }

.checkbox label {
  padding-left: 30px; }

.btn {
  padding: 8px 12px; }

.btn-default {
  color: #C7C7C7;
  background-color: white;
  border-color: #E0E0E0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.btn-default:focus,
.btn-default:hover {
  color: #8c8c8c;
  background-color: white; }

.btn-default:active {
  color: #8c8c8c;
  background-color: white;
  border-color: #8c8c8c;
  box-shadow: none; }

.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #8c8c8c;
  background-color: white;
  border-color: #8c8c8c; }

.open > .dropdown-toggle.btn-default {
  color: #adadad;
  background-color: white;
  border-color: #8c8c8c;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-image: url(../img/bg-gradient.png), url("../img/bg-pattern-light.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  font-family: "museo-sans", Helvetica, sans-serif; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer;
  text-decoration: none; }

.arrow-right {
  position: relative;
  display: inline; }

.arrow-right:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #253d93;
  bottom: 4px;
  right: -10px; }

ul {
  padding: 0;
  margin: 0; }

section header {
  margin-bottom: 20px;
  margin-top: 4px; }

section header h3 {
  margin-bottom: 2px; }

.headerDecoration {
  width: 245px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8; }

h2 {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 4px; }

h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.7px;
  line-height: 1.3; }

h6 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }

p {
  font-size: 90%;
  font-weight: 300;
  line-height: 1.5; }

figure strong {
  font-size: 24px;
  font-weight: 300; }

blockquote {
  padding: 40px 20px 50px 30px;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  border-width: 2px 0; }

blockquote p {
  line-height: 34px; }

blockquote strong {
  font-size: 24px;
  font-weight: 300; }

blockquote footer {
  font-size: 14px;
  text-align: right;
  font-style: normal;
  line-height: 1.42857143;
  margin-top: 8px;
  color: black;
  font-weight: 700; }

aside blockquote {
  padding: 10px 25px 36px; }

aside blockquote footer {
  margin-top: 13px;
  margin-left: 57%; }

.blockquote-wide {
  padding: 40px 20px 50px 30px;
  border: none; }

.blockquote-wide footer {
  margin-right: 94px;
  margin-top: 26px; }

.quote {
  font-family: "adobe-garamond-pro", serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(96, 130, 193, 0.4);
  overflow: hidden;
  text-align: center;
  font-size: 250px;
  margin-top: -85px;
  margin-bottom: -150px; }

.quote:after,
.quote:before {
  background-color: rgba(96, 130, 193, 0.4);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  margin-bottom: 180px; }

.quote:before {
  right: 0.05em;
  margin-left: -50%; }

.quote:after {
  left: 0.05em;
  margin-right: -50%; }

.quoteOffset {
  font-family: "adobe-garamond-pro", serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  font-size: 250px;
  margin-bottom: -220px; }

.quoteOffsetRight {
  font-family: "adobe-garamond-pro", serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  font-size: 250px;
  margin-top: -160px;
  margin-bottom: -110px;
  float: right; }

.quoteContent {
  margin-top: -185px;
  margin-bottom: -85px; }

.testimonialsView {
  margin-top: -60px; }

.bg-lt {
  background-image: url("../img/bg-pattern-light.jpg");
  background-repeat: repeat; }

.bg-blue {
  background-image: url("../img/bg-pattern-blue.jpg");
  background-repeat: repeat; }

.bg-texture {
  background-blend-mode: multiply;
  background-size: cover, 100px 100px;
  background-repeat: no-repeat, repeat; }

.full-width {
  width: 100%; }

.blend-multiply {
  background-blend-mode: multiply; }

.pointer {
  cursor: pointer; }

.circle-button-40 {
  width: 40px;
  height: 40px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #6082c1;
  background: white;
  border: 2px solid #6082c1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.circle-button-60 {
  width: 60px;
  height: 60px;
  border: 2px solid #6082c1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  color: #6082c1;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.circle-button-60:hover {
  background-color: #6082c1;
  color: white; }

.margin-lg {
  padding-left: 32px;
  padding-right: 32px; }

.buffer {
  height: 60px;
  text-align: center; }

.pad-0 {
  padding: 0; }

.v-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.v-margin-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-b-20 {
  margin-bottom: 20px; }

.margin-b-30 {
  margin-bottom: 30px; }

.h-pad-4 {
  padding-right: 4px;
  padding-left: 4px; }

.h-pad-18 {
  padding-right: 18px;
  padding-left: 18px; }

.h-pad-94 {
  padding-right: 94px;
  padding-left: 94px; }

.v-center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center; }

.inline {
  display: inline; }

.pos-r {
  position: relative; }

.ul-inline {
  list-style-type: none; }
  .ul-inline li {
    display: inline-block; }

.ul-arrows li::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #253d93;
  left: 6px;
  top: 4px; }

.flex-h {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between; }

.flex-center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center; }

.flex-col {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  justify-content: center; }

.sm-article {
  margin-bottom: 20px; }

.sm-article h3 {
  margin: 0; }

.sm-article p {
  font-size: 14px;
  margin: 0;
  line-height: inherit; }

.bold {
  font-weight: bold; }

.pointer {
  cursor: pointer; }

.hover-mute {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }

.hover-mute:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  cursor: pointer; }

.white-box {
  position: relative; }

.white-box::after {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 25px;
  left: 25px;
  border: 2px solid white;
  pointer-events: none; }

.brand-banner h3:hover {
  color: #6082c1; }

.main-header .logo {
  width: 120px;
  margin: 8px 22px 0; }

.main-header a {
  color: #253d93; }

.main-header a:focus {
  text-decoration: none; }

.main-header h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 4px; }

.header-phone-mobile {
  position: fixed;
  z-index: 10;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  width: 50px;
  height: 75px;
  right: 20px;
  background-image: url("../img/header_phone_mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 22px;
  text-align: center; }

.header-phone {
  position: fixed;
  z-index: 10;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  width: 196px;
  height: 70px;
  right: 20px;
  background-image: url("../img/header_phone_blank.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  text-align: center; }

.header-phone p {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px; }

.navbar {
  margin: 18px 0 -16px; }

.navbar-default .navbar-nav > li > a {
  color: #6082c1;
  padding: 10px 14px;
  position: relative; }

.current-state h3 {
  color: #253d93; }

.current-state:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #253d93 transparent transparent transparent;
  bottom: 15px;
  left: 47.5%; }

nav.navbar.navbar-default {
  background-color: transparent;
  border: none; }

.navbar .navbar-nav {
  display: inline-block;
  float: none; }

.navbar .navbar-collapse {
  text-align: center; }

button.navbar-toggle {
  margin-right: 36px; }

footer a:hover {
  color: #253d93; }

.footer-bar {
  padding: 0 0 10px;
  text-align: center;
  background-image: url("../../assets/img/Nautilus-Footer_Sides.png");
  background-repeat: repeat-x;
  position: relative; }

.footer-bar input[type='email'] {
  width: 97%; }

.social {
  padding: 0;
  font-size: 24px;
  font-weight: bold; }

.social h2 {
  font-size: 18px;
  text-transform: none;
  letter-spacing: inherit;
  font-weight: 500; }

footer input {
  text-align: center;
  background-image: url("../img/bg-pattern-light.jpg"), url("../img/bg-gradient.png");
  border: none;
  padding: 10px; }

footer input[type='submit'] {
  text-align: center;
  background-image: url("../img/bg-pattern-light.jpg"), url("../img/bg-gradient.png");
  padding: 0;
  font-weight: 700;
  position: absolute;
  bottom: -21px;
  left: 45%; }

footer input[type='submit']:hover {
  color: #fff;
  background-color: #6082c1;
  background-image: none; }

footer nav {
  padding-top: 6px; }

footer nav li + li h6 {
  margin-left: 6px; }

footer nav li + li:before {
  content: '|';
  color: grey;
  font-size: 10px;
  margin: 0 4px; }

footer p {
  font-size: 12px;
  font-weight: 500;
  line-height: inherit;
  margin-top: 10px; }

.copyright h6 {
  letter-spacing: 1px; }

.copyright a {
  color: grey; }

.footer-signup {
  text-align: center;
  padding: 45px 28px 0;
  height: 95px;
  background-image: url("../../assets/img/footer-mid.png");
  background-repeat: no-repeat;
  background-position: center; }

.footer-bar-left {
  margin-top: 27px;
  padding: 0 0 0 32px;
  text-align: left; }

.footer-bar-right {
  margin-top: 30px;
  padding: 0 32px 0 0;
  text-align: right; }

.footer-bar-left h6,
.footer-bar-right h6 {
  display: inline-block; }

.footer-bar-left a,
.footer-bar-right a {
  color: #6082c1; }

.hero-font {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 200;
  font-family: "museo-slab", serif; }

.hero-img {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-position-y: initial;
  background-blend-mode: multiply;
  background-size: cover, 100px 100px;
  background-repeat: no-repeat, repeat;
  color: white; }

.hero-img h1 {
  font-family: "museo-slab", Times, serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 2;
  margin-top: 0; }

.main-article {
  padding-bottom: 0 0 30px; }

.main-article h2 {
  text-align: left;
  margin: 0 0 20px; }

.main-photo .main-photo-container {
  background-repeat: no-repeat, repeat;
  background-size: cover, 100px 100px;
  background-blend-mode: multiply;
  height: 0;
  padding-bottom: 52%; }

.main-photo figcaption {
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 500; }

.main-photo figcaption strong {
  font-size: 24px; }

.main-aside {
  margin-top: 40px; }

.main-aside .arrow-right {
  margin-right: 10px;
  display: block;
  text-align: right;
  margin-top: -165px; }

.caption h4 {
  font-family: "museo-slab", Times, serif;
  color: #253d93; }

.caption h4 span {
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px; }

.caption .fa {
  color: #253d93; }

.caption .fa-mobile {
  vertical-align: middle;
  font-size: 18px; }

.caption h5 {
  color: #6082c1;
  font-size: 12px;
  letter-spacing: 0.2px; }

.caption h5:first-child {
  margin-top: 0; }

.modal-backdrop {
  background-image: url("../img/bg-pattern-light.jpg");
  background-repeat: repeat; }

.modal-dialog {
  text-align: left; }

.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.modal-header {
  padding: 0; }

.close {
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  font-size: 28px;
  text-shadow: none;
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px; }

.modal-body {
  padding: 0; }

.modal-body img {
  width: 100%; }

.modal-body .glyphicon-chevron-left,
.modal-body .glyphicon-chevron-right {
  color: white;
  position: absolute;
  top: 41%;
  font-size: 28px;
  z-index: 10; }

.modal-body .glyphicon-chevron-left:hover,
.modal-body .glyphicon-chevron-right:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5; }

.modal-body .glyphicon-chevron-right {
  right: 1%; }

.modal-body .glyphicon-chevron-left {
  left: 1%; }

.modal-footer ul {
  list-style: none; }

.modal-footer li {
  font-size: 14px;
  position: relative;
  padding-left: 20px; }

.modal-banner {
  background-color: #253d93;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px 34px;
  bottom: 4%;
  text-align: left; }

.modal-banner::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  border: solid white;
  border-width: 1px 0; }

.modal-banner::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  border: solid white;
  border-width: 1px 0; }

.modal-banner h4 {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 0; }

.modal-banner h3 {
  font-size: 12px;
  margin: 0; }

.modal-banner h4 span {
  font-size: 24px; }

.modal-banner .social li {
  margin-left: 2%;
  vertical-align: middle; }

.modal-banner .social li:first-child {
  vertical-align: baseline;
  margin-left: 0; }

.modal-banner .fa {
  float: right;
  color: white;
  font-size: 18px;
  margin-top: 2%;
  margin-left: 2%; }

.modal-banner .fa-mobile {
  font-size: 24px; }

.modal-body h2 {
  margin-top: 10px; }

.modal-footer {
  text-align: left;
  border: none; }

.no-padding {
  padding: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

/* Not tiny iPhones  */
@media (min-width: 400px) {
  .learn-more-button-mobile {
    font-size: 10px; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .link-mobile-only {
    pointer-events: none;
    cursor: default; }
  .current-state:after {
    left: 42%; }
  .footer-bar-left {
    padding-left: 0; }
  .footer-bar-right {
    padding-right: 0; }
  .footer-bar input[type='email'] {
    width: 50%; }
  .footer-bar input[type='submit'] {
    left: 47%; }
  .footer-mission {
    padding: 0 80px; }
  .margin-lg {
    padding-left: 72px;
    padding-right: 72px; }
  .hero-img h1 {
    padding-right: 94px;
    padding-left: 0; }
  .main-article {
    padding: 0 58px 0 0; }
  .modal-dialog {
    width: 700px; }
  .modal-banner h4 {
    font-size: 24px;
    margin-bottom: 10px; }
  .modal-banner h3 {
    font-size: 14px; }
  .modal-banner .social {
    float: right;
    width: 33%;
    text-align: right;
    padding-top: 6px; }
  .modal-banner .fa {
    font-size: 24px; }
  .modal-banner .fa-mobile {
    font-size: 32px; }
  .modal-banner .social li {
    margin-left: 4%; }
  .modal-body .glyphicon-chevron-left,
  .modal-body .glyphicon-chevron-right {
    font-size: 36px; }
  .modal-footer h2 {
    margin-top: 0; }
  p {
    font-size: 80%; } }

@media (min-width: 414px) {
  p {
    font-size: 75%; } }

@media (min-width: 412px) {
  p {
    font-size: 65%; }
  .text-success {
    font-size: 145%; } }

@media (min-width: 320px) {
  p {
    font-size: 65%; }
  .text-success {
    font-size: 140%; } }

@media (min-width: 1220px) {
  p {
    font-size: 5%; }
  .text-success {
    font-size: 140%; } }

@media (min-width: 375px) {
  p {
    font-size: 75%; }
  .text-success {
    font-size: 150%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-img {
    background-color: transparent; }
  footer nav {
    text-align: right; }
  .footer-bar-left {
    padding-top: 21px;
    padding-left: 15px; }
  .footer-bar-right {
    padding-top: 22px;
    padding-right: 15px; }
  .footer-bar input[type='email'] {
    width: 100%; }
  .footer-bar input[type='submit'] {
    left: 44%; }
  .section-img {
    width: 92%; }
  .main-aside,
  .main-photo,
  .sm-article {
    padding-right: 15px;
    padding-left: 15px; }
  .main-aside .arrow-right {
    margin-top: -200px; }
  .main-photo figcaption {
    padding: 12px 30px;
    text-align: left; }
  .quoteContent {
    margin-bottom: -105px; }
  .contact-form {
    padding-right: 60px; }
  .blockquote-wide {
    padding: 40px 65px 50px 85px; }
  .blockquote-wide footer {
    margin-right: 48px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 870px; }
  p {
    font-size: 100%;
    }}

.team-member {
  padding: 0 47px;
  margin-bottom: 20px; }

.team-member .xs {
  font-size: 7px; }

.contact {
  float: left;
  padding-left: 15px; }

.team-member .circle-button-40 {
  float: right;
  margin-right: 11px;
  margin-top: 3px;
  font-weight: 700;
  background-color: transparent;
  font-size: 12px;
  padding-left: 0px;
  padding-top: 4px; }

.team-member button:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6; }

.team-member .arrow-right::after {
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #6082c1;
  bottom: 14px;
  right: 4px; }

.about-block {
  margin-left: 5px; }

.core-values {
  padding: 0 80px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .team-member {
    padding-left: 0;
    padding-right: 0; } }

.career-listing header h2 {
  margin-top: 0; }

.career-listing header h2:hover {
  color: #253d93; }

.career-listing header h3 {
  margin-bottom: 0; }

.career-listing h3 {
  font-weight: 700; }

.career-listing ul, .sm-article ul {
  padding-left: 16px;
  list-style: none; }

.career-listing li, .sm-article li {
  padding-left: 6px;
  margin-bottom: 10px;
  position: relative; }

.career-listing li::before,
.sm-article li::before {
  content: '○';
  color: #253d93;
  font-size: 12px;
  position: absolute;
  top: 2px;
  left: -17px; }

.apply-box {
  margin-top: 100px; }

.apply-box h3 {
  font-weight: 900; }

.apply-box .circle-button-60 {
  margin: 30px auto; }

.responsibilities {
  margin-top: 0; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .career-listing li::before,
  .sm-article li::before {
    font-size: 24px;
    top: -7px; } }

.contact-form .form-control,
.contact-form button {
  background-color: white; }

.contact-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black; }

.contact-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: black; }

.contact-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: black; }

.contact-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: black; }

.subject-select {
  width: 100%; }

.subject-select button {
  text-align: left;
  font-size: 12px;
  color: black;
  border-color: #E0E0E0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  height: 0;
  padding: 8px 14px 24px; }

.contact-form button[type="submit"] {
  display: block;
  margin: 25px auto; }

.contact-form button .glyphicon-chevron-down {
  position: absolute;
  right: 9px;
  top: 11px; }

.map-caption .fa {
  font-size: 24px;
  margin-right: 10px; }

.contact-social li {
  vertical-align: middle;
  margin-right: 10px; }

.contact-social a {
  color: #6082c1; }

.contact-social .fa {
  margin-bottom: 10px; }

.career-desc,
.career-desc p:last-child {
  display: inline; }

.custom-home {
  margin-bottom: 20px; }

.services-list ul {
  margin: auto;
  list-style: none;
  margin-top: 20px; }

.services-list li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.7px;
  margin-bottom: 10px;
  text-align: center; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .custom-home {
    padding-right: 15px;
    padding-left: 15px; }
  .services-list ul {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-between; }
  .services-list li {
    max-width: 25%;
    margin-bottom: 0; } }

.gallery-list {
  list-style: none;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 32px; }

.gallery-list li {
  height: 100%;
  width: 44%;
  padding-bottom: 44%;
  margin: 0 auto 30px;
  background-size: cover;
  background-position: center; }

.gallery-list li::after {
  right: 10px;
  left: 10px; }

.gallery-photo {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.gallery-photo::after {
  right: 10px;
  left: 10px; }

.gallery-photo-content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10%; }

.table {
  display: table;
  height: 100%;
  width: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .gallery-list {
    margin: 0 32px; }
  .gallery-list li {
    width: 28.7%;
    padding-bottom: 28.7%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .gallery-list li {
    width: 28.9%;
    padding-bottom: 28.9%; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .gallery-list li {
    width: 29%;
    padding-bottom: 29%; } }

.carousel-indicators {
  left: 50%;
  bottom: 1%; }

.home-slider-img {
  height: 0;
  padding: 30%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat, repeat;
  background-size: cover, 100px 100px;
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: top; }

.carousel-indicators li,
.carousel-indicators .active {
  margin: 0 3px;
  height: 6px;
  width: 6px; }

.carousel-caption-box {
  position: absolute;
  height: 100%;
  left: 73px;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding: 1% 0 2% 3%;
  color: #fff;
  font-family: "museo-slab", Times, serif;
  line-height: 42px;
  background-image: url("../../assets/img/Nautilus-banner-overlay_2x.png");
  background-size: contain;
  background-repeat: no-repeat; }

.carousel-caption-box:hover {
  color: #fff !important; }

.carousel-caption-text a,
.carousel-caption-text a:hover {
  color: #fff; }

.learn-more-button {
  z-index: 10;
  position: absolute;
  right: 15%;
  bottom: 42.5%;
  height: 15%;
  width: 15%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5; }

.learn-more-button:hover {
  background: #fff;
  color: #253d93; }

.carousel-caption-box-mobile {
  height: 0;
  width: 100%;
  padding-bottom: 27%;
  top: 0;
  background-size: cover;
  bottom: -100%;
  z-index: 1;
  color: #fff;
  font-family: "museo-slab", Times, serif;
  background-image: url("../../assets/img/Nautilus-banner-overlay_MOBILE_2x.png");
  background-repeat: no-repeat; }

.carousel-caption-box-mobile .row {
  height: 0; }

.carousel-caption-text {
  z-index: 10;
  position: absolute;
  top: 5%;
  left: 9%;
  bottom: 22%;
  right: 13%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); }

.carousel-caption-text h1 {
  font-size: 12px;
  margin: 14px 0 0; }

.carousel-caption-text p {
  font-size: 10px;
  padding-right: 7%;
text-align: left;}

.learn-more-button-mobile {
  position: absolute;
  right: 1.5%;
  bottom: 31.5%;
  height: 38%;
  width: 11%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 6px;
  font-weight: 700;
  line-height: 1.5; }

#slider-cap {
  background-color: rbga(0, 0, 255, 0.22);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.active {
  display: none; }

.pre-footer:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8; }
  .pre-footer:hover .inactive {
    display: none; }
  .pre-footer:hover .active {
    display: block; }

.pre-footer h1 {
  font-size: 9px;
  font-family: museo-slab;
  font-weight: 300;
  color: white;
  position: absolute;
  width: 65%;
  top: -10%; }

#pre-footer-left h1 {
  right: 18%; }

#pre-footer-right h1 {
  left: 18%; }

/* Not tiny iPhones  */
@media (min-width: 400px) {
  .carousel-caption-text h1 {
    font-size: 16px; }
  .carousel-caption-text p {
    font-size: 14px; }
  .learn-more-button-mobile {
    font-size: 10px;
    border-width: 2px; }
  .pre-footer h1 {
    font-size: 12px;
    top: 0%; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-slider-img {
    padding: 15.8%; }
  .carousel-indicators {
    bottom: 5%; }
  .carousel-indicators li,
  .carousel-indicators .active {
    height: 12px;
    width: 12px; }
  .carousel-caption-text h1 {
    font-size: 32px; }
  .carousel-caption-text p {
    font-size: 20px; }
  .pre-footer h1 {
    font-size: 24px;
    top: 6%;
    width: 75%; }
  #pre-footer-left h1 {
    right: 12%; }
  #pre-footer-right h1 {
    left: 12%; }
  .learn-more-button-mobile {
    position: absolute;
    right: 1.5%;
    bottom: 31.5%;
    height: 38%;
    width: 11%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-family: "museo-sans", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5; }
  .learn-more-button-mobile:hover {
    background: #fff;
    color: #253d93; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel-caption-text {
    text-align: left;
    padding: 0; }
  .carousel-caption-text h1 {
    font-size: 24px;
    font-weight: 300; }
  .carousel-caption-text p {
    font-size: 18px;
    font-weight: 300;
    padding-right: 36%;
    line-height: 2.5; }
  .carousel-indicators {
    left: 18.5%; }
  .pre-footer h1 {
    top: 2%;
    width: 55%; }
  #pre-footer-left h1 {
    right: 8%; }
  #pre-footer-right h1 {
    left: 8%; } }

.gallery-photo h1 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  font-family: "museo-slab", Times, serif;
  font-size: 16px;
  width: 80%;
  margin: auto;
  color: #253d93; }

.gallery-photo:hover h1 {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

/* Not tiny iPhones  */
@media (min-width: 400px) {
  .gallery-photo h1 {
    font-size: 24px; } }

.news-header {
  background-image: url("../img/Nautilus-banner_news.png");
  background-size: cover; }

.news-header-alt {
  height: 75px; }

.news-header-back {
  position: absolute;
  width: 100%;
  left: 15px;
  color: white;
  height: 75px;
  top: 0;
  background: rgba(37, 61, 147, 0.7); }

.news-header-back h1 {
  margin-left: 65px;
  line-height: 3;
  padding-top: 4px; }

.news-header-back a {
  color: white; }

.news-header-blue {
  height: 100px;
  background: url(../../../assets/img/bg-pattern-light.jpg), #253d93;
  background-blend-mode: multiply; }

.news-header .arrow-left {
  padding-left: 25px;
  position: relative;
  display: inline; }

.news-header .arrow-left::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  left: 5px;
  top: 9px; }

.news-header a {
  color: white; }

.featured-article {
  margin-bottom: 30px; }

.featured-article div {
  float: left;
  width: 100%;
  height: 350px;
  display: inline-block; }

.featured-article div:first-child {
  background-size: cover, 100px 100px;
  background-repeat: no-repeat, repeat;
  background-blend-mode: multiply;
  background-position: center; }

.featured-article div:last-child {
  padding: 0px 26px; }

.news-article-lead {
  width: auto !important;
  height: 100%; }

.news-article h3 {
  font-weight: 700;
  margin-bottom: 0; }

.news-article h1 {
  margin-top: 0;
  font-size: 30px; }

.news-article h4 {
  font-size: 11px;
  margin-top: 14px;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase; }

.news-article p {
  font-size: 18px;
  margin-top: 46px;
  line-height: 1.7;
  margin-bottom: 18px; }

.news-nav-detail {
  margin-top: 30px; }

.news-nav h3 {
  margin: -3px 0 0; }

.news-nav ul {
  list-style-type: none;
  margin-top: 11px;
  margin-bottom: 35px; }

.news-nav li {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 15px; }

.news-nav a {
  color: #253d93; }

.news-nav li:hover,
.news-nav .selectedTopic {
  font-weight: 700; }

.search-bar {
  width: 100%;
  border: solid #6082c1;
  border-width: 2px 0;
  padding: 8px 10px; }

.search-bar input {
  padding: 8px 10px 2px; }

.search-bar button {
  padding: 10px 10px 2px; }

.search-bar input::-webkit-input-placeholder {
  color: #253d93;
  font-style: italic; }

.search-bar .btn {
  color: #253d93; }

.news-nav p {
  font-size: 12px;
  margin-top: 15px; }

.year-nav {
  position: absolute;
  left: 23px;
  right: 21px;
  top: 21px; }

.year-nav h3 {
  margin: 0;
  position: relative;
  font-size: 12px;
  cursor: pointer; }

.year-nav-left {
  float: left; }

.year-nav-left h3::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #253d93 transparent transparent;
  left: -8px;
  top: 1px; }

.year-nav-right {
  float: right; }

.year-nav-right h3::after {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #253d93;
  right: -6px;
  top: 1px; }

.news-listing {
  margin-bottom: 20px; }

.news-listing .white-box::after {
  right: 10px;
  left: 10px; }

.news-listing-thumb {
  height: 300px;
  background-blend-mode: multiply;
  background-repeat: no-repeat, repeat;
  background-size: cover, 100px 100px;
  background-position: center; }

.page-number:hover {
  cursor: pointer;
  color: #253d93 !important; }

.no-results {
  margin: 0 0 20px; }

.article-details {
  text-align: right;
  padding: 0; }

.article-details .social {
  margin-top: 30px; }

.article-details .social li {
  vertical-align: middle; }

.article-details .social i {
  font-size: 32px;
  margin-left: 10px; }

.date-icon {
  border: 2px solid #253d93;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  float: right;
  width: 50px;
  height: 50px;
  font-size: 10px;
  font-weight: 700;
  color: #253d93;
  text-transform: uppercase;
  padding-top: 8px;
  text-align: center;
  line-height: 1; }

.date-icon .day {
  display: block;
  font-size: 22px;
  margin: 0px 0 12px; }

.article-details h1 {
  font-family: "museo-slab", Times, serif;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 95px; }

.article-details h4 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.related-media-box {
  padding: 10px;
  text-align: center;
  color: #253d93;
  margin-top: 100px; }

.related-media-box h3 {
  margin: 10px 0; }

.related-media-box .img-box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover, 100px 100px;
  background-blend-mode: multiply;
  background-position: center;
  cursor: pointer; }

.related-media-box audio {
  width: 100%; }

.related-media-box .glyphicon-play {
  font-size: 30px; }

.modal audio {
  margin: 200px 0;
  width: 80%; }

.modal video {
  display: block;
  width: 100%; }

.article-content {
  padding: 0; }

.article-body p {
  line-height: 2; }

.article-body img {
  display: block;
  max-width: 100%;
  margin: 10px auto; }

.article-body ul {
  padding-left: 16px;
  list-style: none; }

.article-body ul li {
  padding-left: 6px;
  margin-bottom: 10px;
  position: relative; }

.article-body ul li::before {
  content: '○';
  color: #253d93;
  font-size: 12px;
  position: absolute;
  top: 2px;
  left: -17px; }

.article-body ol {
  font-weight: 300;
  line-height: 1.5;
  list-style: outside decimal;
  margin-left: 1em; }

.tag-list {
  border-top: 2px #253d93 solid; }

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.7px;
  line-height: 1.3;
  margin-bottom: 10px;
  color: #6082c1;
  cursor: pointer; }

.tag::after {
  content: ', '; }

.tag:last-child::after {
  content: ''; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .featured-article div {
    width: 50%;
    height: 370px; }
  .featured-article div:last-child {
    padding: 16px; }
  .article-body p {
    text-align: left; }
  .news-nav-detail {
    margin-top: 0; } }

/* Medium devices  */
@media (min-width: 992px) {
  .article-details,
  .article-content {
    padding: 0 15px; }
  .article-body ul li::before {
    font-size: 24px;
    top: -7px; }
  .news-nav img {
    width: 100%;
    max-width: 245px; } }

.testimonial-image-container {
  margin-top: 10px;
  background-repeat: no-repeat, repeat;
  background-size: cover, 100px 100px;
  background-blend-mode: multiply;
  height: 0;
  padding-bottom: 78%; }
