// VARIABLES (to be determined)
$dk-blue: navy;
$lt-blue: skyblue;
$lt-blue-trans: rgba(48, 139, 183, .6);

// BOOTSTRAP DEFAULT OVERRIDES
.container-fluid {
  padding: 0;
}

.bg-info {
  // overrride with custom color
  // background-color: $lt-blue;
}

// UTILITY CLASSES
.full-width {
  width: 100%;
}

.vcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-inline{
  list-style-type: none;
  li {
    display: inline-block;
  }
  a:hover {
    text-decoration: none;
  }
}

.divide-bar li + li:before{
  content: '| '
}

// CUSTOM
header {
  margin: 20px 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: $lt-blue;
  position: relative;
  &:hover {
    color: $dk-blue;
  }
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: $dk-blue;
  background: none;
}

.navbar .nav > li > a:focus:after,
.navbar .nav > li > a:hover:after {
  position: absolute;
  content: '';
  width:0;
  height:0;
  width: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: $dk-blue transparent transparent transparent;
  bottom: 10px;
  left: 46%;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $dk-blue;
  background: none;
}

nav.navbar.navbar-default {
  background-color: #fff;
  border: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

button.navbar-toggle {
  position: fixed;
  top: 0;
  right: 0;
}

.sticky-top {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20px;
  top: 0;
  right: 6%;
  background-color: $lt-blue-trans;
  border: 2px solid navy;
  border-top: 0;
}

.carousel-indicators {
  left: 20%;
}

.carousel-caption-box {
  background-color: rgba(19, 19, 119, .6);
  position: absolute;
  height: 400px;
  right: 66%;
  left: 6%;
  top: 195px;
  z-index: 10;
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  //
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .sticky-top {
    display: block;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 870px;
  }
}
