<!-- IMAGE CAROUSEL -->
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- CAROUSEL INDICATORS -->
    <ol class="carousel-indicators hidden-xs">
       <!--!!!! ADD NG-CLICKS TO SWAP CAPTION !!!!-->
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <!-- <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li> -->
    </ol>

    <!-- SLIDES -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="home-slider-img" src="assets/img/home-banner.png" alt="Home Management">
        <a ui-sref="homeMgmt" <aside class="col-md-4 carousel-caption-box hidden-xs hidden-sm flex-col text-left">
          <h1>
            Home Management
          </h1>
          <p>
            Keeping your home in the best possible shape year round
          </p>
        </aside></a>
      </div>

      <div class="item">
        <img class="home-slider-img" src="assets/img/home-banner2.png" alt="Home Construction">
        <a ui-sref="customHomes" <aside class="col-md-4 carousel-caption-box hidden-xs hidden-sm flex-col text-left">
          <h1>
            Home Construction
          </h1>
          <p>
            Building your legacy home to stand the test of time in the Lowcountry climate
          </p>
        </aside></a>
      </div>

      <div class="item">
        <img class="home-slider-img" src="assets/img/home-banner3.png" alt="Home Management">
        <a ui-sref="about" <aside class="col-md-4 carousel-caption-box hidden-xs hidden-sm flex-col text-left">
          <h1>
            Nautilus Company
          </h1>
          <p>
            Attention to detail defines how we construct our homes & care for our clients
          </p>
        </aside></a>
      </div>

      <!-- <div class="item">
        <img class="home-slider-img" src="assets/img/home-banner.png" alt="Home Construction">
        <aside class="col-md-4 carousel-caption-box hidden-xs hidden-sm flex-col text-left">
          <h1>
            Home Management
          </h1>
          <p>
            Keeping your home in the best possible shape year round
          </p>
        </aside>
      </div>

      <div class="item">
        <img class="home-slider-img" src="assets/img/home-banner.png" alt="Testimonials">
        <aside class="col-md-4 carousel-caption-box hidden-xs hidden-sm flex-col text-left">
          <h1>
            Home Management
          </h1>
          <p>
            Keeping your home in the best possible shape year round
          </p>
        </aside>
      </div> -->
    </div>

    <!-- <div class="row margin-lg" id="slider-cap"> -->
      <!-- CAPTION BOX -->

    <!-- </div> -->

  </div>


  <!-- PRE-FOOTER IMAGES -->
  <div class="row margin-lg v-margin-30 no-margin-bottom">
    <a ui-sref="homeMgmt"class="col-xs-6 hidden-xs hidden-sm text-right pre-footer" id="pre-footer-left">
      <h1>Custom Home Construction</h1>
      <img class="full-width inactive" src="../../../assets/img/pre-footer-left.png" alt="" />
      <img class="full-width active" src="../../../assets/img/pre-footer-left-hover.png" alt="" />
    </a>
    <a ui-sref="homeMgmt" class="col-xs-6 hidden-xs hidden-sm text-left pre-footer" id="pre-footer-right">
      <h1>Home Management Services</h1>
      <img class="full-width inactive" src="../../../assets/img/pre-footer-right.png" alt="" />
      <img class="full-width active" src="../../../assets/img/pre-footer-right-hover.png" alt="" />
    </a>
  </div>
</div>
