<!-- IMAGE CAROUSEL -->
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- CAROUSEL INDICATORS -->
    <ol class="carousel-indicators hidden-xs">
       <!--!!!! ADD NG-CLICKS TO SWAP CAPTION !!!!-->
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- SLIDES -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://placehold.it/1280x400" alt="Home Management">
      </div>

      <div class="item">
        <img src="http://placehold.it/1280x400" alt="Home Construction">
      </div>

      <div class="item">
        <img src="http://placehold.it/1280x400" alt="Home Management">
      </div>

      <div class="item">
        <img src="http://placehold.it/1280x400" alt="Home Construction">
      </div>

      <div class="item">
        <img src="http://placehold.it/1280x400" alt="Testimonials">
      </div>
    </div>

    <!-- <div class="row margin-lg" id="slider-cap"> -->
      <!-- CAPTION BOX -->
      <aside class="col-md-4 carousel-caption-box hidden-xs hidden-sm flex-col text-left">
        <h1>
          Home Management
        </h1>
        <p>
          Keeping your home in the best possible shape year round
        </p>
      </aside>
    <!-- </div> -->

  </div>


  <!-- PRE-FOOTER IMAGES -->
  <div class="row margin-lg v-margin-30">
    <a ui-sref="homeMgmt"class="col-xs-6 hidden-xs hidden-sm text-right pre-footer" id="pre-footer-left">
      <h1>Custom Home Construction</h1>
      <img class="full-width main" src="../../../assets/img/pre-footer-left.png" alt="" />
      <img class="full-width hover" src="../../../assets/img/pre-footer-left-hover.png" alt="" />
    </a>
    <a ui-sref="homeMgmt" class="col-xs-6 hidden-xs hidden-sm text-left pre-footer" id="pre-footer-right">
      <h1>Home Management Services</h1>
      <img class="full-width main" src="../../../assets/img/pre-footer-right.png" alt="" />
      <img class="full-width hover" src="../../../assets/img/pre-footer-right-hover.png" alt="" />
    </a>
  </div>
</div>
