<!-- IMAGE CAROUSEL -->
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- CAROUSEL INDICATORS -->
    <ol class="carousel-indicators hidden-xs">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- SLIDES -->
    <div contentful-entries="'content_type=homePageSlider'" class="carousel-inner" role="listbox">
      <div ng-repeat="slide in $contentfulEntries.items" ng-class="{item:true, active:$first}">
        <div class="home-slider-img" ng-style="{'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ slide.fields.bannerImage.fields.file.url }})'}" alt="{{ slide.fields.title }}">
        </div>
        <!-- <img class="home-slider-img" ng-src="{{ slide.fields.bannerImage.fields.file.url }}" alt="{{ slide.fields.title }}"> -->
        <a ng-href="{{ slide.fields.learnMoreLink }}"><aside class="col-md-4 carousel-caption-box hidden-xs hidden-sm flex-col text-left">
          <h1>
            {{ slide.fields.title }}
          </h1>
          <p>
            {{ slide.fields.description }}
          </p>
        </aside></a>
      </div>
    </div>
  </div>


  <!-- PRE-FOOTER IMAGES -->
  <div class="row margin-lg v-margin-30 no-margin-bottom">
    <a ui-sref="customHomes"class="col-xs-6 hidden-xs hidden-sm text-right pre-footer" id="pre-footer-left">
      <h1>Custom Home Construction</h1>
      <img class="full-width inactive" src="../../../assets/img/pre-footer-left.png" alt="" />
      <img class="full-width active" src="../../../assets/img/pre-footer-left-hover.png" alt="" />
    </a>
    <a ui-sref="homeMgmt" class="col-xs-6 hidden-xs hidden-sm text-left pre-footer" id="pre-footer-right">
      <h1>Home Management Services</h1>
      <img class="full-width inactive" src="../../../assets/img/pre-footer-right.png" alt="" />
      <img class="full-width active" src="../../../assets/img/pre-footer-right-hover.png" alt="" />
    </a>
  </div>
</div>
