<div contentful-entries="'content_type=homeManagementPage'" class="container-fluid">
  <div ng-repeat="page in $contentfulEntries.items | limitTo:1">
    <!-- HERO IMAGE -->
    <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ page.fields.bannerImage.fields.file.url }})'}">
      <h1 class="col-md-6 tk-museo-slab hero-font">
        {{ page.fields.bannerImageDescription }}
      </h1>
    </section>

    <!-- MAIN CONTENT -->
    <section class="row margin-lg v-margin-30">
      <article class="main-article col-md-6">
        <h2 class="text-uppercase">{{ page.fields.homeManagementHeadline }}</h2>
        <p marked="page.fields.homeManagementDescription">
          <!-- CONVERTED HOME MGMT DESCRIPTION MARKDOWN -->
        </p>
      </article>
      <aside class="main-aside col-xs-12 col-md-6">
        <h1 class="quote">“<h1>
        <blockquote class="quoteContent">
          <div marked="page.fields.homeManagementQuote">
            <!-- CONVERTED HOME MGMT QUOTE MARKDOWN -->
          </div>
          <footer>{{ page.fields.homeManagementQuoteAuthor }}</footer>
        </blockquote>
        <h1 class="quote">”<h1>
        <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
      </aside>
      </section>

    <!-- PORTFOLIO SECTION  -->
    <section class="row bg-blue">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <header class="row">
          <div class="col-xs-12 text-center">
            <h3 class="header-sm text-success">Project Gallery</h3>
            <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
          </div>
        </header>
        <div class="row text-center">
          <ul class="gallery-list">
            <li ng-repeat="project in page.fields.projectGallery" class="home-mgmt-project white-box hover-mute" ng-style="{ 'background-image' : 'url({{ project.fields.file.url }})'}" ng-click="homeMgmtCtrl.selectedProject = project" data-toggle="modal" data-target="#home-mgmt-modal">
              <h1>{{ project.fields.title }}</h1>
              <!-- <img class="full-width" ng-src="{{ image.fields.file.url }}" alt="" /> -->
            </li>
          </ul>
          <!-- MODAL -->
          <div class="modal fade" id="home-mgmt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" ng-style="{'background-image' : 'url(' + homeMgmtCtrl.selectedProject.fields.file.url + '), url(../../../assets/img/bg-pattern-light.jpg)'}">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                  <div class="modal-banner">
                    <h4>{{ homeMgmtCtrl.selectedProject.fields.title }}</h4>
                      <ul class="ul-inline social">
                        <li><h3>Share:</h3></li>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fomnautilus.herokuapp.com%2F%23%2FhomeMgmt&amp;src=sdkpreparse" target="_blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/share" data-text="Nautilus Company Home Management" data-via="NautilusCompany" target="_blank"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fomnautilus.herokuapp.com%2F%23%2FhomeMgmt&media=%2F%2Fimages.contentful.com%2F80s1v057uxnv%2FKrBueqjyQoS6o6YeEoSOk%2F5c2920aa0ca14fbeb5353c0de94d8954%2FHome_Management_exterior02.jpg&description=Next%20stop%3A%20Pinterest" target="_blank"><i class="fa fa-2x fa-pinterest-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.houzz.com" target="_blank"
                               data-url="http://omnautilus.herokuapp.com/#/homeMgmt"
                               data-hzid="12155"
                               data-title="{{ homeMgmtCtrl.selectedProject.fields.title }}"
                               data-img="{{ homeMgmtCtrl.selectedProject.fields.file.url }}"
                               data-desc="{{ homeMgmtCtrl.selectedProject.fields.description }}"
                               data-showcount="1 "><i class="fa fa-2x fa-houzz" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>
                </div>
                <div class="modal-body bg-lt">
                  <div class="row">
                    <div class="col-md-12" marked="homeMgmtCtrl.selectedProject.fields.description">
                      <!-- CONVERTED DESCRIPTION MARKDOWN -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END MODAL DIALOG -->
          </div>
          <!-- END MODAL -->
        </div>
      </div>
    </section>
  </div>
</div>

  <!-- SERVICES LIST -->
  <section class="row margin-lg margin-b-30">
    <header class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Home Management Services</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <div contentful-entries="'content_type=homeManagementService'">
      <article ng-repeat="serviceCategory in $contentfulEntries.items" class="col-sm-3 sm-article">
        <h3 class="header-sm">{{ serviceCategory.fields.serviceType }}</h3>
        <ul class="ul-circles">
          <div marked="serviceCategory.fields.serviceList">
            <!-- CONVERTED SERVICE LIST MARKDOWN -->
          </div>
        </ul>
      </article>
    </div>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
