<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img-homemgmt overlay">
    <h1 class="col-md-6 tk-museo-slab hero-font">
      Providing piece of mind that your home is in good hands.
    </h1>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">What is Home Management?</h2>
      <p>
        Whether Charleston is your permanent address or your second residence, the Nautilus Company offers a range of services to simplify your lifestyle and maintain the value of your home.
      </p>
      <p>
        Not only does Nautilus' home management program upkeep your home on a consistent schedule, our team also uses preventative measures to save our clients money by quelling problems before the begin. No two homes are the same, which is why Nautilus creates a detailed, premium and personalized program for each client through a combination of thorough inspections and preventative maintenance.
      </p>
      <p>
        Nautilus is Charleston's home management company.
      </p>
    </article>
    <aside class="main-aside col-xs-12 col-md-6">
      <h1 class="quote">“<h1>
      <blockquote class="quoteContent">
        From <span>renovation to maintenance...</span> from roof to pool deck to dock to appliances to interior design to bathroom addition...we have <span>done it all with Nautilus.</span>
        <footer>The Smith Family</footer>
      </blockquote>
      <h1 class="quote">”<h1>
      <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
    </aside>
  </section>
  <!-- PORTFOLIO SECTION  -->
  <section class="row margin-lg bg-blue">
    <header class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Project Gallery</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <div class="col-sm-4 margin-b-20 text-center" ng-repeat="home in homeMgmt.homeMgmtPortfolio | limitTo:8" style="position: relative; left: 0; top: 0;">
      <img ng-src="{{home.image}}" style="position: relative; top: 0; left: 0;"/>
    </div>
  </section>
  <!-- SERVICES LIST -->
  <section class="row margin-lg margin-b-30">
    <header class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Home Management Services</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Preventative Maintenance</h3>
      <ul class="ul-circles">
        <li><p>Planned, scheduled, implemented and fully documented maintenance</li>
        <li><p>Resolve any wear experiencedfrom heat and humidity: mildew or wood splintering</p></li>
        <li><p>HVAC monitoring and maintenance</p></li>
        <li><p>Repairs to leaky windows or doors</p></li>
      </ul>
    </article>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Home Watch</h3>
      <ul class="ul-circles">
        <li><p>Available for both second home and part-time residents</li>
        <li><p>Regular inspections of the home while you are away</p></li>
      </ul>
    </article>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Arrival / Departure + Concierge</h3>
      <ul class="ul-circles">
        <li><p>Pickup/drop off services from Charleston International Airport</p></li>
        <li><p>Arrival and departure house cleaning services</p></li>
        <li><p>Stock the fridge for your arrival</p></li>
        <li><p>Set up tee times at your favorite Charleston golf courses</p></li>
        <li><p>Coordinate dinner reservations</p></li>
        <li><p>Book a fishing excursion</p></li>
      </ul>
    </article>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Special Projects</h3>
      <ul class="ul-circles">
        <li><p>Project management</p></li>
        <li><p>Renovations</p></li>
        <li><p>Window/door replacements</p></li>
        <li><p>Roof repair</p></li>
      </ul>
    </article>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
