<div contentful-entries="'content_type=homeManagementPage'" class="container-fluid">
  <div ng-repeat="page in $contentfulEntries.items">
    <!-- HERO IMAGE -->
    <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background' : 'url({{ page.fields.bannerImage.fields.file.url }})'}">
      <h1 class="col-md-6 tk-museo-slab hero-font">
        {{ page.fields.bannerImageDescription }}
      </h1>
    </section>

    <!-- MAIN CONTENT -->
    <section class="row margin-lg v-margin-30">
      <article class="main-article col-md-6">
        <h2 class="text-uppercase">{{ page.fields.homeManagementHeadline }}</h2>
        <p marked="page.fields.homeManagementDescription">
          <!-- CONVERTED HOME MGMT DESCRIPTION MARKDOWN -->
        </p>
      </article>
      <aside class="main-aside col-xs-12 col-md-6">
        <h1 class="quote">“<h1>
        <blockquote class="quoteContent">
          <div marked="page.fields.homeManagementQuote">
            <!-- CONVERTED HOME MGMT QUOTE MARKDOWN -->
          </div>
          <footer>{{ page.fields.homeManagementQuoteAuthor }}</footer>
        </blockquote>
        <h1 class="quote">”<h1>
        <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
      </aside>
      </section>
    </div>
  </div>

  <!-- PORTFOLIO SECTION  -->
    <section class="row bg-blue">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <header class="row">
          <div class="col-xs-12 text-center">
            <h3 class="header-sm text-success">Project Gallery</h3>
            <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
          </div>
        </header>
        <div class="row text-center">
          <ul contentful-entries="'content_type=homeManagementProject'" class="gallery-list">
            <li ng-repeat="project in $contentfulEntries.items" class="home-mgmt-project white-box hover-mute" ng-style="{ 'background-image' : 'url({{ project.fields.thumbnailImage.fields.file.url }})'}" ng-click="homeMgmtCtrl.selectedProject = project" data-toggle="modal" data-target="#home-mgmt-modal">
              <h1>{{ project.fields.title }}</h1>
              <!-- <img class="full-width" ng-src="{{ image.fields.file.url }}" alt="" /> -->
            </li>
          </ul>
          <!-- MODAL -->
          <div class="modal fade" id="home-mgmt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" ng-style="{'background-image' : 'url(' + homeMgmtCtrl.selectedProject.fields.bannerImage.fields.file.url + ')'}">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                  <div class="modal-banner">
                    <h4>{{ homeMgmtCtrl.selectedProject.fields.title }}</h4>
                      <ul class="ul-inline social">
                        <li><h3>Share:</h3></li>
                        <li><a href="" target="_blank"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-2x fa-pinterest-square" aria-hidden="true"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-2x fa-houzz" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>
                </div>
                <div class="modal-body bg-lt">
                  <div class="row">
                    <div class="col-md-12" marked="homeMgmtCtrl.selectedProject.fields.description">
                      <!-- CONVERTED DESCRIPTION MARKDOWN -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END MODAL DIALOG -->
          </div>
          <!-- END MODAL -->
        </div>
      </div>
    </section>
  </section>

  <!-- SERVICES LIST -->
  <section class="row margin-lg margin-b-30">
    <header class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Home Management Services</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Preventative Maintenance</h3>
      <ul class="ul-circles">
        <li><p>Planned, scheduled, implemented and fully documented maintenance</li>
        <li><p>Resolve any wear experiencedfrom heat and humidity: mildew or wood splintering</p></li>
        <li><p>HVAC monitoring and maintenance</p></li>
        <li><p>Repairs to leaky windows or doors</p></li>
      </ul>
    </article>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Home Watch</h3>
      <ul class="ul-circles">
        <li><p>Available for both second home and part-time residents</li>
        <li><p>Regular inspections of the home while you are away</p></li>
      </ul>
    </article>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Arrival / Departure + Concierge</h3>
      <ul class="ul-circles">
        <li><p>Pickup/drop off services from Charleston International Airport</p></li>
        <li><p>Arrival and departure house cleaning services</p></li>
        <li><p>Stock the fridge for your arrival</p></li>
        <li><p>Set up tee times at your favorite Charleston golf courses</p></li>
        <li><p>Coordinate dinner reservations</p></li>
        <li><p>Book a fishing excursion</p></li>
      </ul>
    </article>
    <article class="col-sm-3 sm-article">
      <h3 class="header-sm">Special Projects</h3>
      <ul class="ul-circles">
        <li><p>Project management</p></li>
        <li><p>Renovations</p></li>
        <li><p>Window/door replacements</p></li>
        <li><p>Roof repair</p></li>
      </ul>
    </article>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
