<div contentful-entries="'content_type=contactUsPage'" class="container-fluid">
  <div ng-repeat="page in $contentfulEntries.items | limitTo:1">

    <!-- HERO IMAGE -->
    <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background-image' : 'url({{ page.fields.bannerImage.fields.file.url }}), url(../../../assets/img/bg-pattern-light.jpg)'}">
      <h1 class="col-md-4 hero-font">
        {{ page.fields.bannerImageDescription }}
      </h1>
    </section>

    <!-- MAIN CONTENT -->
    <section class="row margin-lg v-margin-30">
      <article class="main-article col-xs-12 col-md-6">
        <h2 class="text-uppercase">
          Contact
        </h2>
        <!-- <form class="contact-form" name="contactForm" role="form" novalidate> -->
        <form class="contact-form" name="contactForm" role="form"novalidate>
          <div class="form-group" ng-class="{ 'has-error': contactForm.contactName.$touched && !contactForm.contactName.$valid }">
            <label ng-show="contactForm.contactName.$touched && !contactForm.contactName.$valid" class="control-label" for="contactName">Name Required</label>
            <input type="text" name="contactName" ng-model="contactCtrl.form.name" placeholder="Name*" onfocus="this.placeholder = ''" class="form-control" required>
          </div>
          <div class="form-group" ng-class="{ 'has-error': contactForm.contactEmail.$touched && !contactForm.contactEmail.$valid }">
            <label ng-show="contactForm.contactEmail.$touched && !contactForm.contactEmail.$valid" class="control-label" for="contactEmail">Email Required</label>
            <input type="email" name="contactEmail" ng-model="contactCtrl.form.email" placeholder="Email*" onfocus="this.placeholder = ''" class="form-control" required>
          </div>
          <div class="form-group input-group subject-select">
              <button type="button" class="btn btn-default form-control dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Subject: {{ contactCtrl.form.subject }}
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="subject in contactCtrl.formSubjects" ng-click="contactCtrl.form.subject = subject.fields.title"><a href="">{{ subject.fields.title }}</a></li>
              </ul>
          </div>
          <div class="form-group">
            <textarea name="comments" rows="7" ng-model="contactCtrl.form.comments" placeholder="Comments..." onfocus="this.placeholder = ''" class="form-control"></textarea>
          </div>
          <div class="checkbox">
            <label><input ng-model="contactCtrl.subscribe" type="checkbox"> Sign me up for the Nautilus quarterly eNewsletter</label>
          </div>
          <button type="submit" ng-click="contactCtrl.submitForm()" class="circle-button-40" name="submit" data-toggle="modal" data-target="#myModal" >Go</button>

          <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thanks for your inquiry!</h4>
        </div>
        <div class="modal-body">
          <p>We'll get back to you shortly.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
          <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
          <div ng-show="contactCtrl.mailchimp.result === 'error'" ng-cloak>
            <h2 ng-bind-html="contactCtrl.mailchimp.errorMessage"></h2>
          </div>

          <!-- Show success message if MailChimp returned successfully. -->
          <div ng-show="contactCtrl.mailchimp.result === 'success'" ng-cloak>
            <h2 ng-bind-html="contactCtrl.mailchimp.successMessage"></h2>
          </div>
        </form>
      </article>
      <aside class="main-photo col-xs-12 col-md-6">
        <div class=" main-photo-container full-width" ng-style="{'background-image' : 'url(assets/img/contact-map.png), url(assets/img/bg-pattern-light.jpg)'}" alt="Nautilus Company Location Map" />
          <!-- MAP IMAGE  -->
        </div>
        <div class="map-caption">
          <h3 class="text-success" style="font-size:20px;">{{ page.fields.contactInformationTitle }}</h3>
          <p style="font-size:20px;">
            {{ page.fields.contactAddress }}<br>
            {{ page.fields.contactCityStateZipCode }}<br>
            {{ page.fields.contactCounty }}
          </p>
          <ul class="ul-inline text-primary">
            <li><a ng-href="tel:{{ page.fields.contactPhoneNumber }}" target="_blank" class="link-mobile-only"><i class="fa fa-2x fa-phone" aria-hidden="true"></i></a></li>
            <li><p class="text-primary" style="font-size:20px;">{{ page.fields.contactPhoneNumber }}</p></li>
          </ul>
        </div>
        <ul class="ul-inline contact-social">
          <br><br>
          <li><p style="font-size:20px;">Connect with us:</p></li>
          <li><a href="http://facebook.com/NautilusCompany" target="_blank"><i class="fa text-primary fa-2x fa-facebook-f" aria-hidden="true"></i></a></li>
          <li><a href="http://twitter.com/@NautilusCompany" target="_blank"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://linkedin.com/company/nautilus-company" target="_blank"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="http://www.houzz.com/pro/nautilusco/nautilus-company-llc" target="_blank"><i class="fa fa-2x fa-houzz" aria-hidden="true"></i></a></li>
        </ul>
      </aside>
    </section>

    <!-- CAREERS SECTION -->
    <section class="row bg-blue margin-lg">
      <div class="col-xs-12 margin-b-20">
        <header class="row">
          <div class="col-xs-12 text-center">
            <h3 class="header-sm text-success">{{ page.fields.careersSectionTitle }}</h3>
            <img src="/assets/img/header-decoration.svg" class="headerDecoration" alt="" />
          </div>
        </header>
        <div class="row text-center">
          <div class="col-sm-6 col-sm-offset-3 text-justify">
            <div marked="page.fields.careersSectionDescription" class="career-desc">
              <!-- CONVERTED CAREER SECTION DESCRIPTION MARKDOWN -->
            </div>
            <a ui-sref="careers">
              <h3 class="text-success arrow-right">
                Nautilus Careers
              </h3>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
