<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img-testimonials overlay">
    <h1 class="col-md-6 hero-font">
      Testimonials:<br>
      Good people saying good things about their Nautilus experience.
    </h1>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <div class="col-md-6">
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
      <blockquote>
        <span>Bill Payzant</span> is truly someone that any home owner can <span>learn</span> from! As a <span>first time home owner</span>, my knowledge base was limited with respect to how to properly <span>maintain my home.</span> Bill's knowledge with respect to all elements in home construction is limitless! The guy truly know his craft...he is a <span>problem solver</span> to the highest degree - No task is too small or too big for him. He truly embraces <span>your needs</span> as if they were his own.
        <footer>The Branigan Family</footer>
      </blockquote>
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="full-width" src="http://placehold.it/552x412" alt="" />
    </div>
  </section>
  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30 bg-blue">
    <div class="col-xs-12">
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
      <blockquote class="blockquote-wide">
        There are a lot of <span>general contractors</span> out there and I interviewed my share. Through that process, I began to learn <span>how unique Nautilus Company is.</span> Before even signing a contract, we thoroughly discussed our perspectives and expectations of the project including the professional relationship. A great deal of <span>integrity</span> was established through these <span>authentic meetings</span> allowing me to feel confident of my decision to enter the partnership. I use the word <span>partnership</span> with intention. I was <span>consistently confident</span> that I would be kept well informed and consulted as necessary once construction began. Communication lines were always open and flowed freely. I was further inpressed that the <span>professionalism</span> displayed by Nautilus was also expected of the subcontractors.
        <footer>JS</footer>
      </blockquote>
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
    </div>
  </section>
  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <div class="col-md-6">
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
      <blockquote>
        <span>Bill Payzant</span> is truly someone that any home owner can <span>learn</span> from! As a <span>first time home owner</span>, my knowledge base was limited with respect to how to properly <span>maintain my home.</span> Bill's knowledge with respect to all elements in home construction is limitless! The guy truly know his craft...he is a <span>problem solver</span> to the highest degree - No task is too small or too big for him. He truly embraces <span>your needs</span> as if they were his own.
        <footer>The Branigan Family</footer>
      </blockquote>
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="full-width" src="http://placehold.it/552x412" alt="" />
    </div>
  </section>
  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30 bg-blue">
    <div class="col-xs-12">
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
      <blockquote class="blockquote-wide">
        There are a lot of <span>general contractors</span> out there and I interviewed my share. Through that process, I began to learn <span>how unique Nautilus Company is.</span> Before even signing a contract, we thoroughly discussed our perspectives and expectations of the project including the professional relationship. A great deal of <span>integrity</span> was established through these <span>authentic meetings</span> allowing me to feel confident of my decision to enter the partnership. I use the word <span>partnership</span> with intention. I was <span>consistently confident</span> that I would be kept well informed and consulted as necessary once construction began. Communication lines were always open and flowed freely. I was further inpressed that the <span>professionalism</span> displayed by Nautilus was also expected of the subcontractors.
        <footer>JS</footer>
      </blockquote>
      <!-- <img src="http://placehold.it/550x10" alt="" /> -->
    </div>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
