<div contentful-entries="'content_type=testimonialsPage'" class="container-fluid">
  <div ng-repeat="page in $contentfulEntries.items | limitTo : 1">

    <!-- HERO IMAGE -->
    <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ page.fields.bannerImage.fields.file.url }})'}">
      <div class="col-md-6 hero-font" marked="page.fields.bannerImageDescription">
        <!-- BANNER DESCRIPTION -->
      </div>
    </section>
  </div>

  <!-- MAIN CONTENT -->
  <div contentful-entries="'content_type=testimonial'">
    <div ng-repeat="testimonial in $contentfulEntries.items">
      <!-- TESTIMONIAL WITH IMAGE -->
      <section ng-if="testimonial.fields.testimonialImage" class="row margin-lg v-margin-30">
        <div class="col-md-6">
          <h1 class="quote testimonialsView">“<h1>
          <blockquote class="quoteContent">
            <div marked="testimonial.fields.testimonialQuote">
              <!-- TESTIMONIAL QUOTE -->
            </div>
            <footer>{{ testimonial.fields.testimonialAuthor }}</footer>
          </blockquote>
          <h1 class="quote">”<h1>
        </div>
        <div class="col-xs-12 col-md-6 main-photo">
          <div class="testimonial-image-container" ng-style="{'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ testimonial.fields.testimonialImage.fields.file.url }})'}" alt="" />
            <!-- TESTIMONIAL IMAGE -->
          </div>
        </div>
      </section>
      <!-- TESTIMONIAL WITHOUT IMAGE -->
      <section ng-if="!testimonial.fields.testimonialImage" class="row margin-lg v-margin-30 bg-blue">
        <div class="col-xs-12">
          <h1 class="quoteOffset">“<h1>
          <blockquote class="blockquote-wide">
            <div marked="testimonial.fields.testimonialQuote">
              <!-- TESTIMONIAL QUOTE -->
            </div>
            <footer>{{ testimonial.fields.testimonialAuthor }}</footer>
          </blockquote>
          <h1 class="quoteOffsetRight">”<h1>
        </div>
      </section>
    </div>
  </div>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
