<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img overlay" ng-style="{'background-image':'url(' + customHomesCtrl.customHome.fields.bannerImage.fields.file.url + ')'}">
    <h1 class="col-md-6">
      {{ customHomesCtrl.customHome.fields.customHomeTitle }}
      <br>
      {{ customHomesCtrl.customHome.fields.customHomeType }}
    </h1>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">{{ customHomesCtrl.customHome.fields.customHomeHeadline }}</h2>
      <p>
        {{ customHomesCtrl.customHome.fields.customHomeDescription }}
      </p>
    </article>
    <aside class="main-aside col-xs-12 col-md-6">
      <h1 class="quote">“<h1>
      <blockquote class="quoteContent">
        <div marked="customHomesCtrl.customHome.fields.quote">
          <!-- CONVERTED CUSTOM HOME QUOTE MARKDOWN -->
        </div>
        <footer>{{ customHomesCtrl.customHome.fields.quoteAuthor }}</footer>
      </blockquote>
      <h1 class="quote">”<h1>
      <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
    </aside>
  </section>

  <!-- PROJECT GALLERY -->
  <section class="row bg-blue">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <header class="row">
        <div class="col-xs-12 text-center">
          <h3 class="header-sm text-success">Project Gallery</h3>
          <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
        </div>
      </header>
      <div class="row text-center">
        <ul class="custom-home-list">
          <li class="white-box hover-mute" ng-repeat="image in customHomesCtrl.customHome.fields.customHomeGallery" ng-style="{ 'background-image' : 'url({{ image.fields.file.url }})'}">
            <!-- <img class="full-width" ng-src="{{ image.fields.file.url }}" alt="" /> -->
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- CUSTOM HOME SERVICES -->
  <section class="row margin-lg">
    <div class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Custom Home Services</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </div>
    <div class="col-xs-12 text-center">
      <h3>
        {{ customHomesCtrl.customHome.fields.customHomeServices }}
      </h3>
    </div>
    <!-- FOR MULTIPLE ENTRIES -->
    <!-- <ul class="ul-inline h-pad-18 margin-b-20 flex-h">
      <li ng-repeat="service in customHomesCtrl.customHome.fields.customHomeServices track by $index">
        <h3 class="header-sm">
          {{ service }}
        </h3>
      </li>
    </ul> -->
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
