<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img">
    <h2 class="col-md-6">
      {{ customHomes.selectedHome.name }}
      <br>
      {{ customHomes.selectedHome.subtitle }}
    </h2>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">{{ customHomes.selectedHome.heading }}</h2>
      <p>
        {{ customHomes.selectedHome.summary }}
      </p>
    </article>
    <aside class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="http://placehold.it/600x350" alt="" />
      </div>
      <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci</h3> -->
    </aside>
  </section>

  <!-- PORTFOLIO SECTION  -->
  <section class="row margin-lg bg-blue">
    <header class="col-xs-12 text-center">
      <h3 class="text-uppercase text-success">Project Gallery</h3>
    </header>
    <ul class="col-xs-12 col-sm-10 col-sm-offset-1 pad-0">
      <li class="col-sm-4 img-container" ng-repeat="image in customHomes.selectedHome.gallery track by $index">
        <img ng-src="{{ image }}" alt="" />
      </li>
    </ul>
  </section>
</div>
