<div contentful-entry="'id'" class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img">
    <h1 class="col-md-6">
      {{ customHomesCtrl.selectedHome.name }}
      <br>
      {{ customHomesCtrl.selectedHome.subtitle }}
    </h1>
  </section>
  <!-- CONTENTFUL MODEL
  <section class="row margin-lg v-center hero-img-custom overlay" ng-style="{ background: 'url({{ $contentfulEntry.fields.bannerImage }}'">
    <h1 class="col-md-6">
      {{ $contentfulEntry.fields.customHomeTitle }}
      <br>
      {{ $contentfulEntry.fields.customHomeType }}
    </h1>
  </section> -->


  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">{{ customHomesCtrl.selectedHome.heading }}</h2>
      <p>
        {{ customHomesCtrl.selectedHome.summary }}
      </p>
    </article>
    <aside class="main-aside col-xs-12 col-md-6">
      <h1 class="quote">“<h1>
      <blockquote class="quoteContent">
        The house is <span>beautiful</span> and it is due to your high standards, patience, implementation skills, market knowledge and determination that you exceeded our expectations...We look forward to <span>working with you again</span> and recommending you highly to other islanders (and beyond).
        <footer>Bill and Ruth Ennis</footer>
      </blockquote>
      <h1 class="quote">”<h1>
      <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
    </aside>
  </section>
  <!-- CONTENTFUL MODEL  -->
  <!-- <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">{{ $contentfulEntry.fields.customHomeHeadline }}</h2>
      <p>
        {{ $contentfulEntry.fields.customHomeDescription }}
      </p>
    </article>
    <aside class="main-aside col-xs-12 col-md-6">
      <h1 class="quote">“<h1>
      <blockquote class="quoteContent">
        {{ $contentfulEntry.fields.quote }}
        <footer>{{ $contentfulEntry.fields.quoteAuthor }}</footer>
      </blockquote>
      <h1 class="quote">”<h1>
      <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
    </aside>
  </section> -->

  <!-- PROJECT GALLERY -->
  <section class="row bg-blue">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <header class="row">
        <div class="col-xs-12 text-center">
          <h3 class="header-sm text-success">Project Gallery</h3>
          <img src="http://placehold.it/300x10" alt="" />
        </div>
      </header>
      <div class="row text-center">
        <div class="col-sm-6 col-md-4 margin-b-30" ng-repeat="image in customHomesCtrl.selectedHome.gallery track by $index">
          <img class="full-width" ng-src="{{ image }}" alt="" />
        </div>
        <!-- CONTENTFUL MODEL -->
        <!-- <div class="col-sm-6 col-md-4 margin-b-30" ng-repeat="image in $contentfulEntry.fields.customHomeGallery track by $index">
          <img class="full-width" ng-src="{{ image }}" alt="" />
        </div> -->
      </div>
    </div>
  </section>

  <!-- CUSTOM HOME SERVICES -->
  <section class="row margin-lg">
    <div class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Custom Home Services</h3>
      <img src="http://placehold.it/300x10" alt="" />
    </div>
    <ul class="ul-inline h-pad-18 margin-b-20 flex-h">
      <li><h3 class="header-sm">New Home Construction</h3></li>
      <li><h3 class="header-sm">Renovations + Remodeling</h3></li>
      <li><h3 class="header-sm">Additions</h3></li>
      <li><h3 class="header-sm">Customer Support</h3></li>
    </ul>
    <!-- CONTENTFUL MODEL -->
    <!-- <ul class="ul-inline h-pad-18 margin-b-20 flex-h">
      <li ng-repeat="service in $contentfulEntry.fields.customHomeServices"><h3 class="header-sm">{{ service }}</h3></li>
    </ul> -->
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
