<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img-custom overlay">
    <h1 class="col-md-6 hero-font">
      Build the perfect house<br>to call home.
    </h1>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">Our Work</h2>
      <p>
        With more than a decade of experience in construction management, the Nautilus team brings innovation and cutting-edge technologies to your new home. With exceptional service and a personalized construction plan, the Nautilus team will make the building process as enjoyable and easy as possible, whether you live in Charleston or are building from afar.
      </p>
      <p>
        Out experience has shown us how to build a legacy home that withstands the Lowcountry environment. In addition, our contructino capabilities extend beyond new builds, but also to large remodeling projects. If you have a home that needs an update, give Nautilus a call.
      </p>
      <p>
        A home built by the Nautilus Company means one-of-a-kind quality, with exceptional service throughout a personalized construction process.
      </p>
    </article>
    <aside class="main-aside col-xs-12 col-md-6">
      <h1 class="quote">“<h1>
      <blockquote class="quoteContent">
        The house is <span>beautiful</span> and it is due to your high standards, patience, implementation skills, market knowledge and determination that you exceeded our expectations...We look forward to <span>working with you again</span> and recommending you highly to other islanders (and beyond).
        <footer>Bill and Ruth Ennis</footer>
      </blockquote>
      <h1 class="quote">”<h1>
      <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
    </aside>
  </section>

  <!-- PORTFOLIO SECTION  -->
  <section class="row margin-lg bg-blue">
    <header class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Custom Homes Portfolio</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <ul class="col-xs-12 pad-0">
      <div class="custom-home col-sm-6" ng-repeat="home in customHomes.customHomes | limitTo:4 " ng-click="customHomes.selectHome(home.number)">
        <a ui-sref="customHomesDetail">
          <div>
            <img class="full-width" ng-src="{{ home.image }}" alt="" />
          </div>
          <div class="caption">
            <h4>{{ home.name }}, <span>{{ home.subtitle }}</span></h4>
          </div>
        </a>
      </div>
<!-- <custom-home-listing ng-repeat="customHome in customHomes.customHomes | limitTo:4"
        number="{{ customHome.number }}"
        name="{{ customHome.name }}"
        subtitle="{{ customHome.subtitle }}"
        image="{{ customHome.image }}"
        selectHome="{{ customHomes.selectHome }}">
      </project-listing> -->
    </ul>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
