<div contentful-entries="'content_type=customHomesPage'" class="container-fluid">
  <div ng-repeat="page in $contentfulEntries.items">

  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ page.fields.bannerImage.fields.file.url }})'}">
    <h1 class="col-md-4 hero-font">
      {{ page.fields.bannerImageDescription }}
    </h1>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="main-article col-md-6">
      <h2 class="text-uppercase">Our Work</h2>
      <div marked="page.fields.ourWorkDescription">
        <!-- CONVERTED OUR WORK DESCRIPTION MARKDOWN -->
      </div>
    </article>
    <aside class="main-aside col-md-6">
      <h1 class="quote">“<h1>
      <blockquote class="quoteContent">
        <div marked="page.fields.ourWorkQuote">
          <!-- CONVERTED OUR WORK QUOTE MARKDOWN -->
        </div>
        <footer>{{ page.fields.ourWorkQuoteAuthor }}</footer>
      </blockquote>
      <h1 class="quote">”<h1>
      <a ui-sref="testimonials"><h3 class="arrow-right text-success">More Testimonials</h3></a>
    </aside>
  </section>
  </div>

  <!-- PORTFOLIO SECTION  -->
  <section class="row margin-lg bg-blue">
    <header class="col-xs-12 text-center">
      <h3 class="header-sm text-success">Custom Homes Portfolio</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <ul contentful-entries="'content_type=customHome'" class="col-xs-12 pad-0">
      <div class="custom-home col-sm-6" ng-repeat="home in $contentfulEntries.items | orderBy : 'fields.orderNumber'">
        <a ui-sref="customHomesDetail({ customHomeID:home.sys.id })">
          <div>
            <img class="full-width hover-mute" ng-src="{{ home.fields.thumbnailImage.fields.file.url }}" alt="{{ home.fields.customHomeTitle }} Photo" />
          </div>
          <div class="caption">
            <h4>{{ home.fields.customHomeTitle }}, <span>{{ home.fields.customHomeType }} - {{ home.fields.serviceType }}</span></h4>
          </div>
        </a>
      </div>
    </ul>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
