<div class="container-fluid">

  <div contentful-entries="'content_type=newsPage'">
    <div ng-repeat="page in $contentfulEntries.items | limitTo:1">

      <!-- HERO IMAGE -->
      <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ page.fields.bannerImage.fields.file.url }})'}">
        <h1 class="col-md-5 hero-font">
          {{ page.fields.bannerImageDescription }}
        </h1>
      </section>

      <!-- MAIN CONTENT -->
      <section contentful-entries="'content_type=newsPost'" class="row margin-lg v-margin-30">
        <article ng-repeat="featuredPost in $contentfulEntries.items | filter:{fields: {featured: true}} | limitTo:1" class="featured-article white-box col-xs-12 col-md-9">
        <div ng-style="{ 'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ featuredPost.fields.thumbnailImage.fields.file.url }})'}">
          <!-- FEATURED POST IMAGE  -->
        </div>
        <div class="bg-blue">
          <h3 class="text-success">{{ featuredPost.fields.topic }}:</h3>
          <a ui-sref="newsDetail({ postID:featuredPost.sys.id })"><h1 class="text-success">{{ featuredPost.fields.title }}</h1></a>
          <h4>{{ featuredPost.fields.date }}</h4>
          <p>
            {{ featuredPost.fields.featuredDescription }}
          </p>
          <a ui-sref="newsDetail({ postID:featuredPost.sys.id })"><h3 class="text-success arrow-right">Read on</h3></a>
        </div>
        </article>

        <nav class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 text-center news-nav">
          <h3 class="text-success">Topics</h3>
          <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
          <ul class="text-success">
            <li class="pointer" ng-class="{ 'selectedTopic' : newsCtrl.searchTopic === 'Custom Homes' }" ng-click="newsCtrl.selectSearchTopic('Custom Homes')">Custom Homes</li>
            <li class="pointer" ng-class="{ 'selectedTopic' : newsCtrl.searchTopic === 'Home Management' }" ng-click="newsCtrl.selectSearchTopic('Home Management')">Home Management</li>
            <li class="pointer" ng-class="{ 'selectedTopic' : newsCtrl.searchTopic === 'Awards / Publications' }" ng-click="newsCtrl.selectSearchTopic('Awards / Publications')">Awards/Publications</li>
            <li class="pointer" ng-class="{ 'selectedTopic' : newsCtrl.searchTopic === 'Nautilus Happenings' }" ng-click="newsCtrl.selectSearchTopic('Nautilus Happenings')">Nautilus Happenings</li>
          </ul>
          <form ng-submit="newsCtrl.submitSearch(newsCtrl.articleSearch)">
            <div class="input-group search-bar">
              <input type="text" class="form-control bg-blue" ng-model="newsCtrl.articleSearch" placeholder="Article Search...">
              <span class="input-group-btn">
                <button class="btn btn-default bg-blue" type="submit">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
          <div marked="page.fields.mediaInquiriesText">
            <!-- MEDIA INQUIRIES TEXT -->
          </div>
        </nav>
      </section>
    </div>
  </div>

  <!-- ARTICLE LIST -->
  <section class="row margin-lg bg-blue">
    <header class="col-xs-12 text-center">
      <h3 class="text-success">{{ newsCtrl.searchTopic || '2016 News'}}</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <div class="col-xs-12 pad-0">
      <ul contentful-entries="'content_type=newsPost'">
        <div ng-repeat="newsPost in $contentfulEntries.items | filter: {fields: {topic: newsCtrl.searchTopic , $: newsCtrl.articleSearch }}| orderBy: 'fields.date': true">
          <div class="clearfix visible-sm-block visible-md-block visible-lg-block" ng-if="$index % 2 == 0"></div>
          <div class="news-listing col-sm-6">
            <a ui-sref="newsDetail({ postID:newsPost.sys.id })">
              <div class="news-listing-thumb white-box hover-mute" ng-style="{ 'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ newsPost.fields.thumbnailImage.fields.file.url }})'}">
                <!-- NEWS LISTING IMAGE -->
              </div>
              <div class="caption">
                <h4>{{ newsPost.fields.title }} | <span>{{ newsPost.fields.topic }}</span></h4>
              </div>
            </a>
          </div>
        </div>
      </ul>
      <!-- <ul >
        <div class="news-listing col-sm-6" ng-repeat="blogPost in newsCtrl.allPosts">
          <a ui-sref="newsDetail({ postID:blogPost.sys.id })">
            <div class="news-listing-thumb white-box hover-mute" ng-style="{ 'background-image' : 'url(../../../assets/img/bg-pattern-light.jpg), url({{ newsPost.fields.thumbnailImage.fields.file.url }})'}"> -->
              <!-- BLOG POST IMAGE -->
            <!-- </div>
            <div class="caption">
              <h4>{{ blogPost.fields.title }} | <span>{{ blogPost.fields.categories[0].fields.name }}</span></h4>
            </div>
          </a>
        </div>
      </ul> -->
    </div>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
