<div class="container-fluid">

  <div contentful-entries="'content_type=newsPage'">
    <div ng-repeat="page in $contentfulEntries.items | limitTo:1">

      <!-- HERO IMAGE -->
      <section class="row margin-lg v-center hero-img overlay" ng-style="{ 'background-image' : 'url({{ page.fields.bannerImage.fields.file.url }}), url(../../../assets/img/bg-pattern-light.jpg)'}">
        <h1 class="col-md-5 hero-font">
          {{ page.fields.bannerImageDescription }}
        </h1>
      </section>

      <!-- MAIN CONTENT -->
      <section class="row margin-lg v-margin-30">
        <article class="featured-article white-box col-xs-12 col-md-9">
        <div ng-style="{ 'background-image' : 'url({{ newsCtrl.featuredPost.fields.thumbnailImage.fields.file.url }}), url(../../../assets/img/bg-pattern-light.jpg)'}">
          <!-- FEATURED POST IMAGE  -->
        </div>
        <div class="bg-blue">
          <h3 class="text-success">{{ newsCtrl.featuredPost.fields.topic }}:</h3>
          <a ui-sref="newsDetail({ postID:newsCtrl.featuredPost.sys.id, postTitle:newsCtrl.slugify(featuredPost.fields.title) })"><h1 class="text-success">{{ newsCtrl.featuredPost.fields.title }}</h1></a>
          <h4>{{ newsCtrl.featuredPost.fields.date }}</h4>
          <p>
            {{ newsCtrl.featuredPost.fields.featuredDescription }}
          </p>
          <a ui-sref="newsDetail({ postID:newsCtrl.featuredPost.sys.id, postTitle:newsCtrl.slugify(featuredPost.fields.title) })"><h3 class="text-success arrow-right">Read on</h3></a>
        </div>
        </article>

        <nav class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 text-center news-nav">
          <h3 class="text-success">Topics</h3>
          <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
          <ul class="text-success">
            <li ng-repeat="category in page.fields.searchCategories" class="pointer" ng-class="{ 'selectedTopic' : newsCtrl.searchTopic === category }" ng-click="newsCtrl.selectSearchTopic(category)">{{ category }}</li>
          </ul>
          <form ng-submit="newsCtrl.submitSearch()">
            <div class="input-group search-bar">
              <input type="text" class="form-control bg-blue" ng-model="newsCtrl.articleSearch" placeholder="Article Search...">
              <span class="input-group-btn">
                <button class="btn btn-default bg-blue" type="submit">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
          <div marked="page.fields.mediaInquiriesText">
            <!-- MEDIA INQUIRIES TEXT -->
          </div>
        </nav>
      </section>
    </div>
  </div>

  <!-- ARTICLE LIST -->
  <section class="row margin-lg bg-blue">
    <header class="col-xs-12 text-center">
      <h3 class="text-success">{{ newsCtrl.filterYear }} News</h3>
      <div class="year-nav">
        <div class="year-nav-left">
          <h3 ng-hide="newsCtrl.filterYear === newsCtrl.thisYear" ng-click="newsCtrl.getYearPosts(newsCtrl.filterYear + 1)" class="text-success">{{ newsCtrl.filterYear + 1 }}</h3>
        </div>
        <div class="year-nav-right">
          <h3 ng-hide="newsCtrl.filterYear === 2010" ng-click="newsCtrl.getYearPosts(newsCtrl.filterYear - 1)" class="text-success">{{ newsCtrl.filterYear - 1 }}</h3>
        </div>
      </div>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <div class="col-xs-12 pad-0">
      <ul>
        <div ng-repeat="newsPost in newsCtrl.posts | filter:{fields: {topic: newsCtrl.searchTopic}} | filter:{fields: {featured: false}}">
          <div class="clearfix visible-sm-block visible-md-block visible-lg-block" ng-if="$index % 2 == 0"></div>
          <div class="news-listing col-sm-6">
            <a ui-sref="newsDetail({ postID:newsPost.sys.id, postTitle:newsCtrl.slugify(newsPost.fields.title), keyword:newsCtrl.articleSearch, topic:newsCtrl.searchTopic })">
              <div class="news-listing-thumb white-box hover-mute" ng-style="{ 'background-image' : 'url({{ newsPost.fields.thumbnailImage.fields.file.url }}), url(../../../assets/img/bg-pattern-light.jpg)'}">
                <!-- NEWS LISTING IMAGE -->
              </div>
              <div class="caption">
                <h4>{{ newsPost.fields.title }} | <span>{{ newsPost.fields.topic }}</span></h4>
              </div>
            </a>
          </div>
        </div>
      </ul>
      <div class="text-center">
        <h3 ng-show="newsCtrl.posts.length === 0" class="text-success no-results">No Results Found</h3>
      </div>
    </div>
  </section>

  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer">
    <ul ng-show="newsCtrl.pages.length > 1" class="list-inline">
      <li ng-repeat="page in newsCtrl.pages">
        <h3 class="text-primary page-number" ng-class="{ 'text-success': newsCtrl.currentPage === page}" ng-click="newsCtrl.getPage(page)">{{ page }}</h3>
      </li>
    </ul>
  </section>
</div>
