<div class="container-fluid">
  <!-- HERO IMAGE -->
  <section class="row margin-lg v-center hero-img-news overlay">
    <h1 class="col-md-6 hero-font">
      Nautilus News
    </h1>
  </section>

  <!-- MAIN CONTENT -->
  <section class="row margin-lg v-margin-30">
    <article class="news-article col-md-9">
      <div>
        <img class="full-width news-article-lead" src="assets/img/team-laura.jpg" alt="" />
      </div>
      <div class="bg-blue">
        <h3 class="text-success">Nautilus Employee Spotlight:</h3>
        <h1 class="text-success">Laura Forger</h1>
        <h4>19 April 2016</h4>
        <p>
          Every business needs a person who is the glue that holds the whole operation together. For us, that's Laura Forger, out Business Manager.
        </p>
        <a href="#"><h3 class="text-success arrow-right">Read on</h3></a>
      </div>
    </article>
    <nav class="col-md-3 text-center news-nav">
        <h3 class="header-sm text-success">Topics</h3>
        <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
        <ul class="text-success">
          <a href="#"><li>Custom Homes</li></a>
          <a href="#"><li>Home Management</li></a>
          <a href="#"><li>Awards/Publications</li></a>
          <a href="#"><li>Nautilus Happenings</li></a>
        </ul>
        <div class="input-group search-bar">
          <input type="text" class="form-control bg-blue" placeholder="Article Search...">
          <span class="input-group-btn">
            <button class="btn btn-default bg-blue" type="button">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
        <p>
          For media inquiries, please contact Jenny Ferrara of Obviouslee Marketing: <a href="mailto:jenny@obviouslee.com">jenny@obviouslee.com</a>
        </p>
    </nav>
  </section>

  <!-- ARTICLE LIST -->
  <section class="row margin-lg bg-blue">
    <header class="col-xs-12 text-center">
      <h3 class="header-sm text-success">2016 News</h3>
      <img class="headerDecoration" src="assets/img/header-decoration.svg" alt="" />
    </header>
    <ul class="col-xs-12 pad-0">
      <div class="news-listing col-sm-6">
        <a href="#">
          <div>
            <img class="full-width news-article" src="assets/img/news-pollen.jpg" alt="" />
          </div>
          <div class="caption">
            <h4>Combat Springtime Pollen at Home | <span>Home Management</span></h4>
          </div>
        </a>
      </div>
      <div class="news-listing col-sm-6">
        <a href="#">
          <div>
            <img class="full-width news-article" src="http://placehold.it/600x325" alt="" />
          </div>
          <div class="caption">
            <h4>Properly Finishing Doors | <span>Custom Homes</span></h4>
          </div>
        </a>
      </div>
      <div class="news-listing col-sm-6">
        <a href="#">
          <div>
            <img class="full-width news-article" src="http://placehold.it/600x325" alt="" />
          </div>
          <div class="caption">
            <h4>Combat Springtime Pollen at Home | <span>Home Management</span></h4>
          </div>
        </a>
      </div>
      <div class="news-listing col-sm-6">
        <a href="#">
          <div>
            <img class="full-width news-article" src="http://placehold.it/600x325" alt="" />
          </div>
          <div class="caption">
            <h4>Properly Finishing Doors | <span>Custom Homes</span></h4>
          </div>
        </a>
      </div>
    </ul>
  </section>
  <!-- PRE-FOOTER BUFFER -->
  <section class="buffer"></section>
</div>
